/* account.component.css */
.card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .15);
    background-color: #fff;
    color: #252422;
    margin-bottom: 69px;
    margin-top: 69px;
    position: relative;
    border: 0 none;
    transition: transform .3s cubic-bezier(.34, 2, .6, 1), box-shadow .2s ease;
}