<style>
    .tooltiptext {
        visibility: hidden;
        width: 54px;
        background-color: #fab526;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        font-weight: 500;
        padding: 6px 0;
        position: absolute;
        z-index: 1;
        font-size: 14px;
        top: 0px;
        left: -54px;
        text-transform: capitalize;
    }
    
    .remove .tooltiptext {
        width: 69px;
        background-color: #eb6532;
        left: -69px;
    }
    
    .edit,
    .remove {
        overflow: visible;
    }
    
    a.edit:hover .tooltiptext,
    a.remove:hover .tooltiptext {
        visibility: visible;
        transition: all .15s linear;
    }
</style>
<div class="wrapper ">
    <app-header></app-header>
    <div class="main-panel">
        <!-- Navbar -->

        <div class="content">
            <div class="row" style="margin: 0 -15px">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card" style="box-shadow:none;">
                            <div class="card-header">
                                <div class="row">

                                    <div class="col-md-offset-8 col-md-4 text-center">
                                        <a routerLink="/create-sdealer">
                                            <button class="btn btn-success">ADD S-Dealer</button></a>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <br>

                            </div>
                            <div class="card-body cardHig" style="overflow-y: hidden; overflow-x: scroll">
                                <div class="toolbar">
                                    <!--  Here you can write extra buttons/actions for the toolbar  -->
                                </div>
                                <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="disabled-sorting">Account</th>
                                            <th class="disabled-sorting">Action</th>
                                            <th nowrap (click)="sort('dealer_name')">Name <span class="fa fa-sort"></span></th>
                                            <th nowrap (click)="sort('dealer_email')">Email <span class="fa fa-sort"></span></th>
                                            <th nowrap (click)="sort('link_code')">Dealer PIN <span class="fa fa-sort"></span></th>
                                            <th nowrap (click)="sort('parent_dealer')">Parent Dealer <span class="fa fa-sort"></span></th>
                                            <th (click)="sort('connected_devices')">Connected<br>Devices <span class="fa fa-sort"></span>
                                            </th>
                                            <th>Tokens <span class="fa fa-sort"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dealer of allSDelears  | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p }; let i = index;">

                                            <td class="text-center btnFull">
                                                <a href="javascript:void(0)" (click)="showEditForm(dealer)" data-toggle="modal" data-target="#edit"><button
                                                            class="btn btn-primary btn-sm" >Edit</button></a>
                                                <a href="javascript:void(0)" *ngIf="(dealer.account_status==null || dealer.account_status=='')" (click)="suspendForm(dealer.dealer_id);"><button
                                                            class="btn btn-danger btn-sm">Suspend</button></a>
                                                <a href="javascript:void(0)" *ngIf=" dealer.account_status=='suspended' " (click)="activateForm(dealer.dealer_id);"><button
                                                            class="btn btn-danger btn-sm">Activate</button></a>
                                                <a href="javascript:void(0)"><button
                                                            class="btn btn-info btn-sm"  *ngIf=" dealer.unlink_status== 0 " (click)="unlinkSdealerUser(dealer.dealer_id)">Delete</button></a>
                                                <a href="javascript:void(0)"><button
                                                                class="btn btn-info btn-sm"  *ngIf=" dealer.unlink_status== 1 " (click)="undoUser(dealer.dealer_id)">Undo</button></a>
                                            </td>
                                            <td class="text-center btnFull">
                                                <a href="javascript:void(0)" (click)="passEditForm(dealer);" data-toggle="modal" data-target="#passedit"><button
                                                                class="btn btn-primary btn-sm">Reset<br>Password</button></a>
                                                <a><button
                                                                class="btn btn-danger btn-sm" >Connect</button></a>
                                            </td>
                                            <td>{{ dealer.dealer_name }}</td>
                                            <td>{{ dealer.dealer_email }}</td>
                                            <td>{{ dealer.link_code }}</td>
                                            <td>{{ dealer.parent_dealer }}</td>
                                            <td>{{ dealer.connected_devices[0].total }}</td>

                                            <td>{{ dealer.tokens }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="row text-center" style="display: block;">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>
                                <div class="modal fade" id="passedit" tabindex="-1" role="dialog" aria-labelledby="passedit" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title custom_align">Reset Password</h5>
                                                <span class="close" id="from" onclick="removepassClass()">&times;</span>
                                            </div>
                                            <div class="modal-body">
                                                <form id="formData" #deviceData="ngForm" method="" (ngSubmit)="updatePassSubDealer()" ngNativeValidate>
                                                    <p> (*)- Mandotory fields</p>
                                                    <div class="form-group">
                                                        <label>Email *</label>
                                                        <input type="email" class="form-control" name="email" [(ngModel)]="data.email" required disabled>
                                                        <font class="errortext" color="red" *ngIf="!deviceData.form.controls.email?.valid && deviceData.form.controls.email?.touched">Please Enter Your Email</font>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <input type="password" id="myInput" class="form-control" name="password" [(ngModel)]="data.newpwd">
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" onclick="myFunction()">
                                                        <span class="form-check-sign"></span>
                                                        Show Password
                                                    </label>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <button type="submit" class="btn btn-primary">UPDATE</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title custom_align">Edit Your Detail</h5>
                                                <span class="close" id="from" onclick="removeClass()">&times;</span>
                                            </div>
                                            <div class="modal-body">
                                                <form id="formbgg" #deviceData="ngForm" method="" (ngSubmit)="updateSubDealer()" ngNativeValidate>
                                                    <p> (*)- Mandotory fields</p>
                                                    <div class="form-group">
                                                        <label>Name *</label>
                                                        <input type="text" class="form-control" required="" name="name" [(ngModel)]="data.name">
                                                        <font class="errortext" color="red" *ngIf="!deviceData.form.controls.name?.valid && deviceData.form.controls.name?.touched">Please Enter Your Name</font>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email *</label>
                                                        <input type="email" class="form-control" name="email" [(ngModel)]="data.email" required>
                                                        <font class="errortext" color="red" *ngIf="!deviceData.form.controls.email?.valid && deviceData.form.controls.email?.touched">Please Enter Your Email</font>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Dealer Pin</label>
                                                        <input type="text" class="form-control" required="" name="link_code" [(ngModel)]="data.link_code" disabled>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Connected Devices</label>
                                                        <input type="text" class="form-control" required="" name="connected_devices" [(ngModel)]="data.connected_devices" disabled>
                                                    </div>

                                                    <br>
                                                    <button type="submit" class="btn btn-primary">UPDATE</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </div>
                            <!-- end content-->
                        </div>
                        <!--  end card  -->
                    </div>
                    <!-- end col-md-12 -->
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
</div>
