<style>
  .combo-label {
        margin-bottom: .5em;
    }
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
        #plus {display:none}
        #option-button {
            display: none;
        }
       }
        @media only screen and (min-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {
            #navbar {
                display: none;
            }
            .content {
                margin-top: -22px;
            }

        }

    @media screen and (max-width:768px){
        #classTable[_ngcontent-c2] th[_ngcontent-c2],
        tr[_ngcontent-c2]{
            display:none;
        }
        .modal-body {
            padding: 20px 25px;
            color: #000;
        }

    }
</style>

<div class="wrapper ">
  <!-- <app-header ></app-header> -->
  <app-acl></app-acl>
  <div class="main-panel" style="min-height:fit-content;">
    <div class="row container" style="margin-top: 30px">

    </div>
    <!-- Navbar -->
    <!--&lt;!&ndash;-->
    <nav id="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top ">
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <div class="navbar-minimize">
            <button onclick="togglelogo();" id="" class="btn btn-icon btn-round">
              <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
              <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
            </button>
          </div>
          <div class="navbar-toggle">
            <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
          </div>
          <!--<a class="navbar-brand">LOGO</a>-->
        </div>
        <button class="navbar-toggler" id="option-button" type="button" data-toggle="collapse" data-target="#navigation"
          aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
          <ul class="navbar-nav">
            <li>
              <!--<span class="nav-link btn-rotate d-md-ver">WebMDM_v1.02</span>-->
            </li>
            <!--<li class="nav-item">-->
            <!--<a class="nav-link btn-rotate" href="javascript:void(0)" (click)="onLogout()">-->
            <!--Logout-->
            <!--<p>-->
            <!--<span class="d-lg-none d-md-block">Account</span>-->
            <!--</p>-->
            <!--</a>-->
            <!--</li>-->
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="row" style="margin: 0 -15px">
        <div class="col-md-12">
          <!-- <div class="card" style="border-radius:unset;">
            <div class="card-header" style="padding: 15px 0">
              <h4 class="card-title col-md-12 text-center">All Devices</h4>
              
            </div>
          </div> -->
          <div class="card" style="border-radius:unset;">
            <div class="card-header">

            </div>
            <div class="card-body cardHig" style="overflow-x: scroll;">
              <div class="toolbar">
              </div>
              <table id="datatable" class="table table-bordered responsive" cellspacing="0" width="100%">
                <thead>
                  
                  <tr class="text-center btnFull">
                    <th scope="col" class="disabled-sorting headings">Action</th>
                    <!-- name -->
                    <th scope="col" class="headings" drag-me drop-me nowrap >Name
                      <span class="fa fa-sort"></span>
                    </th>
                    <th scope="col" class="headings" nowrap >Created At
                      <span class="fa fa-sort"></span>
                    </th>
                
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let profile of profiles; let i = index;">
                    <tr class="row_{{profile.id}}" >
                      
                      <td data-table-header="ACTION" class="text-left btnFull">
                        <div class="btn-group">
                          <a href="javascript:void(0)" (click)="deleteProfile($event,profile.id)" *ngIf="(profileType=='policy' && isAdmin==true) || ((profileType=='profile' && connected_dealer==0) || isAdmin==true)">
                            <button class="btn btn-sm suspend">Delete</button>
                          </a>
                
                          <!-- <a href="javascript:void(0)"  *ngIf="(profileType=='policy' && isAdmin==true) || ((profileType=='profile' && connected_dealer==0) || isAdmin==true)">
                            <button class="btn btn-sm edit">Edit</button>
                          </a> -->
                
                        </div>
                      </td>
                
                      <!-- name -->
                      <td data-table-header="NAME" >
                        <span >{{ profile.name }}</span>
                      </td>
                      
                      <td data-table-header="S_DEALRE_NAME" >
                        <span >{{ profile.created_at }}</span>
                      </td>
                
                    </tr>
                    
                  </ng-container>
                </tbody>
              </table>
              <div class="row text-center" style="display: block;">
              </div>

            </div>
            <!-- end content-->
          </div>
          <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
      </div>
      <!-- end row -->
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.acceptbut').on('click', function () {
    alert('hello');
  });
</script>