<div class="wrapper">
    <!-- <div class="col-md-3"> -->
    <app-sdealer-header></app-sdealer-header>
    <!-- </div> -->
    <div class="main-panel col-md-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-minimize">
                        <button onclick="togglelogo();" id="" class="btn btn-icon btn-round">
              <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
              <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
            </button>
                    </div>
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
              <span class="navbar-toggler-bar bar1"></span>
              <span class="navbar-toggler-bar bar2"></span>
              <span class="navbar-toggler-bar bar3"></span>
            </button>
                    </div>
                    <a class="navbar-brand">LOGO</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
        </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <li>
                            <span class="nav-link btn-rotate d-md-ver">WebMDM_v1.02</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-rotate" href="javascript:void(0)" (click)="onLogout()">
                                    Logout
                                    <p>
                                        <span class="d-lg-none d-md-block">Account</span>
                                    </p>
                                </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-12" style="padding:62px">
                    <form class="form-horizontal" id="formData" #deviceData="ngForm">
                        <div class="card ">
                            <div class="card-header text-center" style="width: 100%; height: 30%;">
                                <h4 class="card-title" style="font-size: 18px;">Your Profile</h4>
                                <hr>
                            </div>

                            <div class="card-body card-manu row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <div class="scrollbar">
                                        <div class="row">
                                            <label class="col-sm-4 col-form-label">Name:</label>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    {{sdealerprofile.sdealer_name}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <label class="col-sm-4 col-form-label">Dealer Id:</label>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    {{sdealerprofile.sdealer_id}}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <label class="col-sm-4 col-form-label">Email:</label>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    {{sdealerprofile.sdealer_email}}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label class="col-sm-4 col-form-label">Parent Dealer:</label>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    {{sdealerprofile.connected_dealer}}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <label class="col-sm-4 col-form-label">Link Code:</label>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    {{sdealerprofile.link_code}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>