/*---- Apk List Css----*/
.ant-table-filter-dropdown .ant-btn {
    margin-bottom: 0;
}

.change_pass .ant-btn,
.change_email .ant-btn {
    padding: 0;
}

.profile_table .ant-table-tbody>tr>td {
    font-size: 14px;
    text-align: center;
    padding: 6px 6px !important;
    font-weight: 400;
}

.manage_sec_pro .ant-card-body {
    height: 253px;
    position: relative;
}

.height_auto .ant-card-body {
    height: auto;
}

.manage_sec_pro img {
    width: 100px;
}

.open_btn {
    width: 40%;
    position: absolute;
    bottom: 33px;
    left: 33%;
}

.open_btn1 {
    bottom: 70px;
}

.ant-btn>.anticon+span {
    margin-left: 8px;
    font-size: 12px;
}

.ant-btn>span+.anticon {
    margin-left: 0;
    font-size: 14px;
}

.edit_a_tag {
    float: right;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-right: 40px;
}

.login_history .ant-table-body {
    padding: 0 19px 0 16px;
}

.login_history ::-webkit-scrollbar {
    display: none;
}

.login_history ::-webkit-scrollbar-thumb {
    background: #efefef;
    border-radius: 10px;
}

.login_history ::-webkit-scrollbar-thumb:hover {
    background: #efefef;
}

.dealer_value {
    word-break: break-all !important;
}

@media (max-width: 768px) {
    .open_btn1 {
        bottom: 33px;
    }
}