<style>
    .tooltiptext {
        visibility: hidden;
        width: 54px;
        background-color: #fab526;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        font-weight: 500;
        padding: 6px 0;
        position: absolute;
        z-index: 1;
        font-size: 14px;
        top: 0px;
        left: -54px;
        text-transform: capitalize;
    }


    .remove .tooltiptext {
        width: 69px;
        background-color: #eb6532;
        left: -69px;
    }

    .edit,
    .remove {
        overflow: visible;
    }

    a.edit:hover .tooltiptext,
    a.remove:hover .tooltiptext {
        visibility: visible;
        transition: all .15s linear;
    }
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

        #option-button {
            display: none;
        }
        .content {
            margin-top: 33px;
        }

    }
    @media only screen and (min-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
        #navbar {
            display: none;
        }
        .content {
            margin-top: -1px;
        }

    }

</style>
<div class="wrapper">
    <!-- <app-header></app-header> -->
    <app-acl></app-acl>
    <div class="main-panel" style="min-height: fit-content;" >
        <!-- Navbar -->
        <nav id="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-minimize">
                        <button onclick="togglelogo();" id="" class="btn btn-icon btn-round">
                            <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                            <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
                        </button>
                    </div>
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>
                    <!--<a class="navbar-brand">LOGO</a>-->
                </div>
                <button class="navbar-toggler" id="option-button" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navigation">
                    <ul class="navbar-nav">
                        <li>
                            <!--<span class="nav-link btn-rotate d-md-ver">WebMDM_v1.02</span>-->
                        </li>
                        <!--<li class="nav-item">-->
                        <!--<a class="nav-link btn-rotate" href="javascript:void(0)" (click)="onLogout()">-->
                        <!--Logout-->
                        <!--<p>-->
                        <!--<span class="d-lg-none d-md-block">Account</span>-->
                        <!--</p>-->
                        <!--</a>-->
                        <!--</li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="row" style="margin: 0 -15px">
                <div class="col-md-12">
                  <div class="card" style="border-radius:unset;margin-top: 13px;">
                    <div class="card-header">
                      <!-- <h4 class="card-title col-md-12 text-center">All Devices</h4> -->
                      <div class="row" style="margin: 0;">
                        <div class="col-md-3" style="padding: 0 0 0 15px">
                            <select class="form-control inputs on-small-margin" placeholder="Dealers" name="display_dealers" (input)="dealerFilter($event)">
                                <option value="">Display</option>
                                <option>#1</option>
                                <option>#2</option>
                                <option>#3</option>
                            </select>
                        </div>
                        <div class="col-md-3" style="padding: 0 0 0 10px;">
                            <select class="form-control inputs on-small-margin" placeholder="Dealers" name="display_dealers" (input)="dealerFilter($event)">
                                <option value="">Show Dealers</option>
                                <option>Active</option>
                                <option>Unliked/Deleted</option>
                                <option>Suspended</option>
                            </select>
                        </div>
                        <div class="col-md-2  search-btn" style="position:relative;padding: 0 0 0 10px;">

                          <input class="form-control inputs on-small-margin" type="text" placeholder="Search" (input)="searchDealer($event.target.value)">
                          <span class="fa fa-search" ></span>
                        </div>

                        <div class="col-md-2" style="padding: 0 0 0 10px;">
                          <!-- <a class="mbTop" routerLink="/black-list-devices"><button
                                  class="btn btn-dange bld">Black List Devices</button></a> -->
                          <select class="form-control inputs on-small-margin" name="paging" (input)="paging($event)">
                            <option>10</option>
                            <option>20</option>
                            <option>30</option>
                          </select>
                        </div>
                        <div class="col-md-2" >
                          <div class="" style="display: flex;    justify-content: center;">
                                <a routerLink="/create-dealer-sdealer" class="">
                                    <button class="btn btn-success" style="padding: 7px 40px ;text-transform: capitalize;">Add Dealer</button>
                                </a>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                        <div class="card" style="box-shadow:none;">
                            <div class="card-header">
                                
                            </div>
                            <div class="card-body cardHig" style="overflow-x: scroll;">

                                <div class="toolbar">
                                    <!--  Here you can write extra buttons/actions for the toolbar  -->
                                </div>
                                <table id="datatable" class="table table-bordered responsive" cellspacing="0" width="100%" style="overflow: auto">
                                    <thead>

                                            <tr class="text-center btnFull" style="background: #f4f4f4">
                                            <th scope="col" class="disabled-sorting">Account</th>
                                            <th scope="col" class="disabled-sorting">Action</th>
                                            <th scope="col" nowrap (click)="sort('dealer_name');">Name <span class="fa fa-sort"></span></th>
                                            <th scope="col" (click)="sort('dealer_email')">Email<span class="fa fa-sort"></span></th>
                                            <th scope="col"  (click)="sort('dealer_id')">Dealer Id<span class="fa fa-sort"></span></th>
                                            <th scope="col"  (click)="sort('link_code')">Dealer PIN<span class="fa fa-sort"></span></th>
                                            <th scope="col"  (click)="sort('connected_devices')">Connected<br>Devices
                                                <span class="fa fa-sort"></span>
                                            </th>
                                            <th scope="col" >Tokens<span class="fa fa-sort"></span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dealer of allDelears | orderBy: key : reverse | paginate: { itemsPerPage: perPage, currentPage: p }; let i = index;">
                                            <td data-table-header="ACCOUNT"  class="text-center btnFull">
                                                <div class="btn-group">
                                                <a href="javascript:void(0)" (click)="showEditForm(dealer);" data-toggle="modal" data-target="#edit"><button
                                                            class="btn btn-sm edit" >Edit</button></a>
                                                <a href="javascript:void(0)" *ngIf="(dealer.account_status==null || dealer.account_status=='')" (click)="suspendForm(dealer.dealer_id);"><button
                                                            class="btn btn-sm suspend">Suspend</button></a>
                                                <a href="javascript:void(0)" *ngIf=" dealer.account_status=='suspended'" (click)="activatedealerForm(dealer.dealer_id);"><button
                                                            class="btn btn-sm connect">Activate</button></a>
                                                <a href="javascript:void(0)"><button
                                                        class="btn btn-sm delete"  *ngIf="dealer.unlink_status=='0'" (click)="unlinkdealerUser(dealer.dealer_id)">Delete</button></a>
                                                <a href="javascript:void(0)"><button
                                                             class="btn btn-sm delete"  *ngIf="dealer.unlink_status=='1'" (click)="undoUser(dealer.dealer_id)">Undo</button></a></div>
                                            </td>
                                            <td data-table-header="ACTION"  class="text-center btnFull">
                                                <div class="btn-group">
                                                <a href="javascript:void(0)" (click)="passEditForm(dealer);" data-toggle="modal" data-target="#passedit"><button
                                                             class="btn btn-sm ResetPp reset">Reset Password</button></a>
                                                <a><button
                                                        class="btn btn-sm connect" >Connect</button></a></div>
                                            </td>
                                            <td data-table-header="NAME" >{{ dealer.dealer_name }}</td>
                                            <td data-table-header="EMAIL" >{{ dealer.dealer_email }}</td>
                                            <td data-table-header="DEALER ID" >{{ dealer.dealer_id }}</td>
                                            <td data-table-header="DEALER PIN">{{ dealer.link_code }}</td>
                                            <td data-table-header="CONNECTED DEVICES">{{ dealer.connected_devices[0].total }}</td>
                                            <td data-table-header="TOKENS"  id="tokens">{{ dealer.tokens }}</td>
                                        </tr>

                                    </tbody>
                                </table>
                                <div class="row text-center" style="display: block;">
                                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                </div>
                                <div class="modal fade" id="passedit" tabindex="-1" role="dialog" aria-labelledby="passedit" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <span class="close" id="from" onclick="removepassClass()">&times;</span>
                                                <h5 class="modal-title custom_align">Reset Password</h5>

                                            </div>
                                            <div class="modal-body">
                                                <form id="formbgg" #deviceData="ngForm" method="" (ngSubmit)="updatePassDealer()" ngNativeValidate>
                                                    <p> (*)- Mandotory fields</p>
                                                    <div class="form-group">
                                                        <label>Email *</label>
                                                        <input type="email" class="form-control" required="" name="email" [(ngModel)]="data.email" required disabled>
                                                        <font class="errortext" color="red" *ngIf="!deviceData.form.controls.email?.valid && deviceData.form.controls.email?.touched">Please Enter Your Email</font>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>New Password</label>
                                                        <input type="password" id="myInput" class="form-control" name="password" [(ngModel)]="data.newpwd">
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-check">
                                                            <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" onclick="myFunction()">
                                                        <span class="form-check-sign"></span>
                                                        Show Password
                                                    </label>
                                                        </div>
                                                    </div>

                                                    <br>
                                                    <button type="submit" class="btn btn-primary">UPDATE</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <span class="close" id="from" onclick="removeClass()">&times;</span>
                                                <h5 class="modal-title custom_align">Edit Your Detail</h5>

                                            </div>
                                            <div class="modal-body">
                                                <form id="formData" #deviceData="ngForm" method="" (ngSubmit)="updateAdminDealer()">
                                                    <p> (*)- Mandotory fields</p>
                                                    <div class="form-group">
                                                        <label>Name *</label>
                                                        <input type="text" class="form-control" name="name" [(ngModel)]="data.name">
                                                        <font class="errortext" color="red" *ngIf="!deviceData.form.controls.name?.valid && deviceData.form.controls.name?.touched">Please Enter Your Name</font>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Email *</label>
                                                        <input type="email" class="form-control" required name="email" [(ngModel)]="data.email">
                                                        <font class="errortext" color="red" *ngIf="!deviceData.form.controls.email?.valid && deviceData.form.controls.email?.touched">Please Enter Your Email</font>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Dealer Pin</label>
                                                        <input type="text" class="form-control" name="link_code" [(ngModel)]="data.link_code" disabled>
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Connected Devices</label>
                                                        <input type="text" class="form-control" name="connected_devices" [(ngModel)]="data.connected_devices" disabled>
                                                    </div>

                                                    <br>
                                                    <button type="submit" class="btn btn-primary">UPDATE</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                            </div>
                            <!-- end content-->
                        </div>
                        <!--  end card  -->
                    </div>
                    <!-- end col-md-12 -->
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
</div>
