/* dealer.component.css */
.form-control {
    padding: 11px;
    font-size: 11px;
}
.fa-search {
    position: absolute;top:10px;
    right:30px;
}.table {
     width: 167%;
     max-width: 141%;
     margin-bottom: 1rem;
     background-color: transparent;
 }


.table>thead>tr>th {
    padding:0 0;
    vertical-align: middle;
    text-align: center !important;
    font-size: 12px;
    border:1px solid #eae6e6;
}
.table>tbody>tr>td {
    padding: 8px 0;
    vertical-align: middle;
    text-align: center !important;
    font-size: 12px;
}
td.btnFull .btn{
    display: block;
    width: auto;
    text-align: center;
    margin: 2px 2px;
}
td a:hover{
    text-decoration: none;
}
.navbar.navbar-absolute {
    position: absolute;
    width: 34%;
    padding-top: 10px;
    z-index: 1029;
    left: 6px;
}
.navbar.navbar-transparent {
    background-color: transparent!important;
    box-shadow: none;
    border-bottom: 0px solid #ddd;
}

@media screen and (max-width: 768px) {
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
        border: none;
    }

    .table > tbody > tr > td {
        padding: 21px 7px 7px 0;
        margin-top: 5px;
        vertical-align: middle;
        text-align: right !important;
        font-size: 12px;
    }

    .table>tbody>tr {
        position: relative;
        margin-bottom: 20px;
    }
    .no-small-col {
        display: none;
    }
}