<div class="wrapper ">
    <!-- <app-header></app-header> -->
    <div class="main-panel">
        <!-- Navbar -->
        <!-- End Navbar -->
        <div class="content">
            <div class="row" style="margin: 0 -15px">
                <div class="col-md-12">
                    <div class="card" style="border-radius:unset;">
                        <div class="notfound">
                            <div class="notfound-404">
                                <h1>4<span>0</span>{{error_no}}</h1>
                            </div>
                            <h2>{{err_caption}}</h2>
                            <!-- <form class="notfound-search">
                                <input type="text" placeholder="Search...">
                                <button type="button"><span></span></button>
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
