<div class="wrapper" style="padding-left: 0px">
<app-header></app-header>
<div class="main-panel col-md-12"  style=" max-height: initial;">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-minimize">
                    <button onclick="togglelogo();" id="" class="btn btn-icon btn-round">
                    <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                    <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
                    </button>
                </div>
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <!--<a class="navbar-brand">LOGO</a>-->
            </div>
            <!--<button class="navbar-toggler" id="option-button" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
            <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
            <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
            <!--</button>-->
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li>
                        <!--<span class="nav-link btn-rotate d-md-ver">WebMDM_v1.02</span>-->
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link btn-rotate" href="javascript:void(0)" (click)="onLogout()">-->
                    <!--Logout-->
                    <!--<p>-->
                    <!--<span class="d-lg-none d-md-block">Account</span>-->
                    <!--</p>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content " style="margin-top: 40px;">
        <div class="row">
            <div class="col-lg-4 no-padding-all">
                <form class="form-horizontal" id="formData" #deviceData="ngForm" (ngSubmit)="referesh('device_id')">
                    <div class="card ">
                        <!-- <div class="card-header text-center" style="width: 100%; height: 30%;">
                            <h4 class="card-title" style="font-size: 18px;">ADD New Device</h4>
                            <hr>
                        </div> -->
                        <div class="card-body" style="padding: 10px;">
                            <div class="">
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Name:</label>
                                    <div class="col-sm-7 col-width-sixtyfive">
                                        <div class="form-group text-left-force">
                                            {{device_data.name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Device Id:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.device_id}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">client Id:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.client_id}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">PGP Email:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.email}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Model:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.model}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">IMEI:</label>
                                    <div class="col-sm-7 col-width-sixtyfive">
                                        <div class="form-group  text-left-force">
                                            {{device_data.imei}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Mac:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.mac_address}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">SIM:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.simno}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">IP Address:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.ip_address}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">S-Dealer:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.s_dealer_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Status</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.account_status == 'suspended' ? 'Suspended' : device_data.status}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Start Date</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.start_date}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Expiry Date</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.expiry_date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- <div class="row"> -->
                            <!-- <label class="col-sm-4 col-form-label"></label> -->
                            <!-- <div class="col-sm-12"> -->
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
        
                        <button type="submit" class="btn-block btn-refresh">Refresh</button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-4 apps_grid" >
                <div class="card apps_card">
                    <div class="second-frame">
                        <img src="/assets/images/top_bar.jpg" class="top_bar">
                        
                        <!-- categories screen -->
                        <div class="background-card main_menu" *ngIf="pageName=='main_menu'">
                            <div class="col-md-12" style="text-align: center;">
                                <img class="img-responsive locker-logo" src="/assets/images/key.png" alt="Not found">
                            </div>
                            <div class="col-md-12 content-list" (click)="changePage('apps_list')"><a class="list-link"> Set Apps & Permissions</a></div>
                            <div class="col-md-12 content-list" (click)="changePage('reset_guest')"><a class="list-link"> Reset Guests</a></div>
                            <div class="col-md-12 content-list" (click)="changePage('reset_encrypted')"><a class="list-link"> Encrypted Pass</a></div>
                            <div class="col-md-12 content-list" (click)="changePage('main_menu')"><a class="list-link"> Setting Menu </a></div>
                            <div class="col-md-12 content-list" (click)="changePage('reset_admin')"><a class="list-link"> Change Admin Panel
                                    Code </a></div>
                        </div>
                        <!-- categories screen -->

                        <div class="background-card apps_list" *ngIf="pageName=='apps_list'">
                            <div class="pin_header">
                                <i class="fa fa-angle-left" aria-hidden="true" (click)="changePage('main_menu')"></i>
                                <div class="pull-right">
                                    <button class="btn btn-defualt btn-xs btndropdown" type="button" id="btndropdown" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="true">
                                        <span class="fa fa-ellipsis-v"></span>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btndropdown">
                                        <li>
                                            <label class="radio-btn">
                                                <input type="checkbox" value='on_guest' class="on_guest" name="check_all" (change)="checkApps($event)">
                                                Turn on Guests All
                                            </label>
                                        </li>
                                        <li>
                                            <label class="radio-btn">
                                                <input type="checkbox" value='on_encrypted' class="on_encrypted" name="check_all" (change)="checkApps($event)">
                                                Turn On Encrypted All
                                            </label>
                                        </li>
                                        <li>
                                            <label class="radio-btn">
                                                <input type="checkbox" value='enable_all' class="enable_all" name="check_all" (change)="checkApps($event)">
                                                Enable All
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <table class="table table-inverse table-dark apps_table">
                                <thead>
                                    <tr class="apps_head">
                                        <th class="text-center">App Name</th>
                                        <th>Guest</th>
                                        <th>Encrypted</th>
                                        <th>Enable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="apps" id="light" *ngFor="let app of appList ; let i = index;">
                                        <td>
                                            <img class="app_img" src="{{baseUrl}}/users/getFile/{{app.icon}}" alt="">
                                            <span class="app_name">{{app.label}}</span>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" class="guest" value='guest' [checked]="app.guest" name="{{app.uniqueName}}" (change)="checkApps($event,app)">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" class="encrypted" value='encrypted' [checked]="app.encrypted" name="{{app.uniqueName}}"
                                                    (change)="checkApps($event,app)">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" class="enabled" value='enabled' [checked]="app.enable" name="{{app.uniqueName}}"
                                                    (change)="checkApps($event,app)">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        


                        <!-- Confirm Password design start -->
                        <div class="reset_admin" *ngIf="pageName=='reset_admin'">
                            <div class="pin_header">
                                <i class="fa fa-angle-left" aria-hidden="true" (click)="changePage('main_menu')"></i>
                                <span class="header_text">Admin Pin Code</span>
                            </div>
                            <div class="confirm_password">
                                <input type="password" class="pin" placeholder="Please enter guest pin" required />
                                <input type="password" class="pin" placeholder="Please confirm your pin" required />
                                <button class="btn confirm_pass">Confirm Pin</button>
                            </div>
                        </div>
                        
                        <div class="reset_guest" *ngIf="pageName=='reset_guest'">
                            <div class="pin_header">
                                <i class="fa fa-angle-left" aria-hidden="true" (click)="changePage('main_menu')"></i>
                                <span class="header_text">Guest Pin Code</span>
                            </div>
                            <div class="confirm_password">
                                <input type="password" class="pin" placeholder="Please enter guest pin" required />
                                <input type="password" class="pin" placeholder="Please confirm your pin" required />
                                <button class="btn confirm_pass">Confirm Pin</button>
                            </div>
                        </div>

                        <div class="reset_encrypted" *ngIf="pageName=='reset_encrypted'">
                            <div class="pin_header">
                                <i class="fa fa-angle-left" aria-hidden="true" (click)="changePage('main_menu')"></i>
                                <span class="header_text">Encrypted Pin Code</span>
                            </div>
                            <div class="confirm_password">
                                <input type="password" class="pin" placeholder="Please enter guest pin" required />
                                <input type="password" class="pin" placeholder="Please confirm your pin" required />
                                <button class="btn confirm_pass">Confirm Pin</button>
                            </div>
                        </div>
                        <!-- Confirm Password design end -->

                        
                        <img src="/assets/images/nav_bar.jpg" class="android_nav_bar">
                    </div>
                    <div class="btn-group phone_actions_container" style="margin-top: 5px">
                        <a class="btn btn-light phone_actions" (click)="applySettings($event)">
                            <span class="fa fa-check" style="color:green;">
                            </span>
                            <br>
                            <p>Apply</p>
                        </a>
                        <a class="btn btn-light phone_actions" (click)="undoSettings($event)">
                            <span class="fa fa-undo" style="color:orange;"></span><br>
                            <p>Undo</p>
                        </a>
                        <a class="btn btn-light phone_actions" (click)="redoSettings($event)">
                            <span class="fa fa-refresh" style="color:orange;"></span><br>
                            <p>Redo</p>
                        </a>
                        <a class="btn btn-light phone_actions" (click)="clearAll($event)">
                            <span class="fa fa-close" style="color:red;"></span><br>
                            <p>Clear All</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 app_btns">
                    <div class="card cs-card">
                        <div class="action_table cs-table" id="third-card">
                            <select class="form-control" >
                                <option>Display</option>
                            </select>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <!-- <a href="javascript:void(0)" class="btn_new">
                                        <span class="left title">PUSH</span>
                                        <span class="right icon icon-tablet"></span>
                                    </a> -->
                                    <button class="btn btn-sm btn-primary purple">PUSH</button>
                                </div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">PULL</button>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">Load Profile
                                    <span class="fa fa-user-o"></span></button>
                                </div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">Save Profile
                                    <span class="fa fa-floppy-o"></span></button>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">Load History</button>
                                </div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">Load Policy</button><br>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">Disable</button>
                                </div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">Power</button>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">N/A</button>
                                </div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">N/A</button><br>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">N/A</button>
                                </div>
                                <div class="col-sm-5">
                                    <button class="btn btn-primary purple">N/A</button><br>
                                </div>
                                <div class="col-sm-1"></div>
                            </div>
                            <div class="col-sm-12">
                                <button (click)="suspendForm(device_data.device_id);" class="btn btn-warning btn-block" style=" margin: 15px 0 0; font-size: 14px;">SUSPEND</button>
                            </div>
                            <div class="col-sm-12">
                               <button (click)="unlinkUser(device_data.device_id)" class="btn btn-primary btn-block" style="background:#51cbce; margin: 15px 0 0; font-size: 14px;">UNLINK</button>
                            </div>
                            <div class="col-sm-12">
                                <button class="btn btn-danger btn-block" style=" margin: 15px 0 15px; font-size: 14px;">POWER</button>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>