
.card-manu {
    margin-top: -20px !important;
}

.refreshButton {
    margin-bottom: 0px !important;
}

.scrollbar {
    height: 440px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sideMenu {
    background: #ee0f0f;
    border-radius: 8px;
    padding: 8px 8px;
    font-size: 14px;
    width: 80px;
    height: 45px;
}

.table-menu {
    margin: 20px;
    overflow: hidden !important;
    padding-bottom: 7px;
}

.form-group {
    margin-top: 8px;
}

.scrollbar {
    margin-top: 7px;
}
.left_headed{
    color:orange;
}
.col_head div div{
    color: #434373;
    text-align: center;
}
.phone_actions_container{
    border: 1px solid #f5efef;
}

.phone_actions{
    /* height: 50px;
    padding-top:10px;
    margin:0px;
    margin-left: 1px;
    background: white !important;
    color:black; */
    /*border-right: 1px solid #cac4c4;*/
    padding-top: 13px;
    width: 26%;
    margin: 0px;
    margin-bottom: -9px;
    background: white !important;
    color: black;
}
.phone_actions:hover p{
    color:black;
}
.phone_actions span{
    font-size: 18px;
}

.phone_actions p{
    font-size: 9px;
}

.action_table{
    overflow: unset;
    width: 75%!important;
    margin-left: 15px;
    border-collapse: separate;
    border-spacing: 4px;

}

.action_table tr td{
    border-top: unset;
    padding: 0px;

}
.action_table select{
    width: 100%;
}

.action_table button{
     width: 100%;
     margin-left: 0;
     margin-right: 0;

 }

.action_table .purple{
    background: #4e0d6f;
    width: 100%!important;
    height: 50px;
    float: left;
}
.action_table span {
    color: white;
    /*padding: 7px;*/
    line-height: 50px;
    text-align: center;
    width: 18%!important;
    height: 50px;
    margin: 0px;
}
.action_table[_ngcontent-c2] {
    overflow: unset;
    width: 100%!important;
    margin-left: 15px;
    border-collapse:
            separate;
    border-spacing: 4px;
}
.action_table .purple:hover{
    background: #4e0d6f !important;
}

.action_table .purple:active{
    background: #4e0d6f!important;
}
.action_table .purple:focus{
    background:#4e0d6f!important;
}

.action_table  tbody td{
    background: #4e0d6f;
}

.action_table tfoot td{
    padding: 2px;
}
.left_headed{
    text-align: center;
}
.navbar.navbar-absolute {
    position: absolute;
    width: 34%;
    padding-top: 10px;
    z-index: 1029;
    left: 6px;
}
.navbar.navbar-transparent {
    background-color: transparent!important;
    box-shadow: none;
    border-bottom: 0 solid #ddd;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    #option-button {
        display: none;
    }
    .content {
        margin-top: 33px;
    }
    #third-card {
          margin-left: 42px;
      }

}
@media only screen and (min-width: 760px),
(max-device-width: 768px) and (min-device-width: 1024px)  {
    #navbar {
        display: none;
    }
    .content {
        margin-top: 22px;
    }
    #third-card {
        margin-left: 0px;
        margin-right: 12px;
    }




}