<div class="wrapper" style="padding-left: 0px">
<app-header></app-header>
<div class="main-panel col-md-12"  style=" max-height: initial;">
    <nav id="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-minimize">
                    <button onclick="togglelogo();" id="" class="btn btn-icon btn-round">
                    <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                    <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
                    </button>
                </div>
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <!--<a class="navbar-brand">LOGO</a>-->
            </div>
            <!--<button class="navbar-toggler" id="option-button" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
            <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
            <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
            <!--</button>-->
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li>
                        <!--<span class="nav-link btn-rotate d-md-ver">WebMDM_v1.02</span>-->
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link btn-rotate" href="javascript:void(0)" (click)="onLogout()">-->
                    <!--Logout-->
                    <!--<p>-->
                    <!--<span class="d-lg-none d-md-block">Account</span>-->
                    <!--</p>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content ">
        <div class="row">
            <div class="col-lg-4 no-padding-all">
                <form class="form-horizontal" id="formData" #deviceData="ngForm" (ngSubmit)="refresh('device_id')">
                    <div class="card ">
                        <!-- <div class="card-header text-center" style="width: 100%; height: 30%;">
                            <h4 class="card-title" style="font-size: 18px;">ADD New Device</h4>
                            <hr>
                        </div> -->
                        <div class="card-body" style="padding: 10px;">
                            <div class="">
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Name:</label>
                                    <div class="col-sm-7 col-width-sixtyfive">
                                        <div class="form-group text-left-force">
                                            {{device_data.name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Device Id:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.device_id}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">client Id:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.client_id}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">PGP Email:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.email}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Model:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.model}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">IMEI:</label>
                                    <div class="col-sm-7 col-width-sixtyfive">
                                        <div class="form-group  text-left-force">
                                            {{device_data.imei}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Mac:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.mac_address}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">SIM:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.simno}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">IP Address:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.ip_address}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">S-Dealer:</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.s_dealer_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Status</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force" style="text-transform:capitalize">
                                            {{device_data.account_status == 'suspended' ? 'Suspended' : device_data.status}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Start Date</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force" >
                                            {{device_data.start_date | date:"MM-dd-yyyy 'at' h:mma"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row col_head">
                                    <label class="col-sm-4 col-form-label left_headed col-width-thirtyfive text-left-force">Expiry Date</label>
                                    <div class="col-sm-7 col-width-sixtyfive ">
                                        <div class="form-group text-left-force">
                                            {{device_data.expiry_date | date:"MM-dd-yyyy 'at' h:mma"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <!-- <div class="row"> -->
                            <!-- <label class="col-sm-4 col-form-label"></label> -->
                            <!-- <div class="col-sm-12"> -->
                            <!-- </div> -->
                            <!-- </div> -->
                        </div>
        
                        <button type="submit" class="btn-block btn-refresh">Refresh</button>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="col-lg-4 apps_grid">
                <div class="card apps_card">
                    <div class="second-frame" >
                        <img src="/assets/images/top_bar.jpg" class="top_bar">             
                        <!-- categories screen -->
                        <div class="background-card main_menu" *ngIf='(pageName==="main_menu" && device_data.is_sync==1);'>
                            <div class="col-md-12" style="text-align: center;">
                                <img class="img-responsive locker-logo" src="/assets/images/key.png" alt="Not found">
                            </div>
                            <div class="col-md-12 content-list" (click)="changePage('apps_list')"><a class="list-link"> Set Apps & Permissions</a></div>
                            <div class="col-md-12 content-list" (click)="changePage('reset_guest')"><a class="list-link"> Reset Guests</a></div>
                            <div class="col-md-12 content-list" (click)="changePage('reset_encrypted')"><a class="list-link"> Encrypted Pass</a></div>
                            <div class="col-md-12 content-list" (click)="changePage('setting_list')"><a class="list-link"> Setting Menu </a></div>
                            <div class="col-md-12 content-list" (click)="changePage('reset_admin')"><a class="list-link"> Change Admin Panel Code </a></div>
                        </div>
                        <div class="background-card" *ngIf="device_data.is_sync==0"></div>
                        <!-- categories screen -->
                        <div class="pin_header" *ngIf="pageName=='apps_list' && device_data.is_sync==1">
                            <i class="fa fa-angle-left" aria-hidden="true" (click)="changePage('main_menu')"></i>
                            <div class="pull-right">
                                <button class="btn btn-defualt btn-xs btndropdown" type="button" id="btndropdown" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="true">
                                    <span class="fa fa-ellipsis-v"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btndropdown">
                                    <li>
                                        <label class="radio-btn">
                                            <input type="checkbox" value='on_guest' [(ngModel)]="appList.guest" class="on_guest" name="check_all"
                                                (change)="checkApps($event)">
                                            Turn on Guests All
                                        </label>
                                    </li>
                                    <li>
                                        <label class="radio-btn">
                                            <input type="checkbox" value='on_encrypted' [(ngModel)]="appList.encrypted" class="on_encrypted"
                                                name="check_all" (change)="checkApps($event)">
                                            Turn On Encrypted All
                                        </label>
                                    </li>
                                    <li>
                                        <label class="radio-btn">
                                            <input type="checkbox" value='enable_all' [(ngModel)]="appList.enable" class="enable_all" name="check_all"
                                                (change)="checkApps($event)">
                                            Enable All
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="background-card apps_list" *ngIf="pageName=='apps_list' && device_data.is_sync==1">
                            
                            <table class="table table-inverse table-dark apps_table">
                                <thead>
                                    <tr class="apps_head">
                                        <th style="width: 28%;">App Name</th>
                                        <th>Guest</th>
                                        <th>Encrypted</th>
                                        <th>Enable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="apps" id="light" *ngFor="let app of appList ; let i = index;">
                                        <td>
                                            <img class="app_img" src="{{baseUrl}}/users/getFile/{{app.icon}}" alt="">
                                            <span class="app_name">{{app.label}}</span>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" class="guest" id="apps" value='guest' [checked]="app.guest" name="{{app.uniqueName}}" (change)="checkApps($event,app)">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" class="encrypted" id="apps" value='encrypted' [checked]="app.encrypted" name="{{app.uniqueName}}"
                                                    (change)="checkApps($event,app)">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" class="enabled" id="apps" value='enabled' [checked]="app.enable" name="{{app.uniqueName}}"
                                                    (change)="checkApps($event,app)">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- Confirm Password design start -->
                        
                        <!-- Admin password -->
                        <div class="reset_admin" *ngIf="pageName=='reset_admin' && device_data.is_sync==1">
                            <div class="pin_header">
                                <i class="fa fa-angle-left" aria-hidden="true" (click)="changePage('main_menu')"></i>
                                <span class="header_text">Admin Pin Code</span>
                            </div>
                            <div class="confirm_password">
                                <input type="password" class="pin admin_pin" name="admin_pwd" [(ngModel)]="passwords.admin_password" placeholder="Please enter admin pin" required />
                                <input type="password" class="pin admin_pin" name="admin_pwd_c" [(ngModel)]='conf_admin_pwd' placeholder="Please confirm your pin" required />
                                <button class="btn confirm_pass confirm_admin" (click)="resetPassword($event,conf_admin_pwd)">Confirm Pin</button>
                                <br>
                                <br>
                                <span class="badge badge-light pwd_confirmed" style="display:none;">password confirmed</span>
                                <span class="badge badge-light not_matched" style="display:none;">password not matched</span>
                            </div>
                        </div>
                        <!-- Admin password -->
                        
                        <!-- Guest password -->                        
                        <div class="reset_guest" *ngIf="pageName=='reset_guest' && device_data.is_sync==1">
                            <div class="pin_header">
                                <i class="fa fa-angle-left" aria-hidden="true" (click)="changePage('main_menu')"></i>
                                <span class="header_text">Guest Pin Code</span>
                            </div>
                            <div class="confirm_password">
                                <input type="password" class="pin guest_pin" name="guest_pwd" [(ngModel)]="passwords.guest_password" placeholder="Please enter guest pin" required />
                                <input type="password" class="pin guest_pin" name="guest_pwd_c" [(ngModel)]='conf_guest_pwd' placeholder="Please confirm your pin" required />
                                <button class="btn confirm_pass confirm_guest" (click)="resetPassword($event,conf_guest_pwd)">Confirm Pin</button>
                                <br>
                                <br>
                                <span class="badge badge-light pwd_confirmed" style="display:none;">password confirmed</span>
                                <span class="badge badge-light not_matched" style="display:none;">password not matched</span>
                            </div>
                            
                        </div>
                        <!-- Guest password -->

                        <!-- Encrypted password -->
                        <div class="reset_encrypted" *ngIf="pageName=='reset_encrypted' && device_data.is_sync==1">
                            <div class="pin_header">
                                <i class="fa fa-angle-left" aria-hidden="true" (click)="changePage('main_menu')"></i>
                                <span class="header_text">Encrypted Pin Code</span>
                            </div>
                            <div class="confirm_password">
                                <input type="password" class="pin encrypted_pin" name="encrypted_pwd" [(ngModel)]="passwords.encrypted_password" placeholder="Please enter encrypt pin" required />
                                <input type="password" class="pin encrypted_pin" name="encrypted_pwd_c" [(ngModel)]='conf_enc_pwd' placeholder="Please confirm your pin" required />
                                <button class="btn confirm_pass confirm_encrypted" (click)="resetPassword($event, conf_enc_pwd)">Confirm Pin</button>
                                <br>
                                <br>
                                <span class="badge badge-light pwd_confirmed" style="display:none;">password confirmed</span>
                                <span class="badge badge-light not_matched" style="display:none;">password not matched</span>
                            </div>
                        </div>
                        <!-- Encrypted password --> 

                        <!-- Setting menu design start -->
                        <div class="setting_background" *ngIf="pageName=='setting_list' && device_data.is_sync==1">
                            <div class="setting_header">
                                <i class="fa fa-angle-left" aria-hidden="true" (click)="changePage('main_menu')"></i>
                                <span class="header_text">Setting Menu</span>
                            </div>
                            <div class="content-list_header">
                                <div class="material-switch header_btns">
                                    <span>Guest</span>
                                    <input id="guest" name="guest" type="checkbox"/>
                                    <label for="guest" class="label-default"></label>
                                </div>                        
                                <div class="material-switch header_btns">
                                    <span>Encrypt</span>
                                    <input id="encrypt" name="encrypt" type="checkbox"/>
                                    <label for="encrypt" class="label-default"></label>
                                </div>
                            
                                <div class="material-switch header_btns">
                                    <span>Enable</span>
                                    <input id="enable" name="enable" type="checkbox"/>
                                    <label for="enable" class="label-default"></label>
                                </div>
                            </div>
                            <div class="col-md-12 content-list"><a class="list-link" > Wifi </a>
                                <div class="material-switch">
                                    <span>OFF</span>
                                    <input id="wifi" name="wifi" type="checkbox" checked/>
                                    <label for="wifi" class="label-default"></label>
                                    <span>ON</span>
                                </div>
                            </div>
                            <div class="col-md-12 content-list"><a class="list-link" > Bluetooth </a>
                                <div class="material-switch">
                                    <span>OFF</span>
                                    <input id="bluetooth" name="bluetooth" type="checkbox"/>
                                    <label for="bluetooth" class="label-default"></label>
                                    <span>ON</span>
                                </div>
                            </div>
                            <div class="col-md-12 content-list"><a class="list-link" > Hotspot </a>
                                <div class="material-switch">
                                    <span>OFF</span>
                                    <input id="hotspot" name="hotspot" type="checkbox"/>
                                    <label for="hotspot" class="label-default"></label>
                                    <span>ON</span>
                                </div>
                            </div>
                            <div class="col-md-12 content-list"><a class="list-link" > Location Services  </a>
                                <div class="material-switch">
                                    <span>OFF</span>
                                    <input id="location" name="location" type="checkbox" checked/>
                                    <label for="location" class="label-default"></label>
                                    <span>ON</span>
                                </div>
                            </div>
                            <div class="col-md-12 content-list"><a class="list-link" > Screen Capture  </a>
                                <div class="material-switch">
                                    <span>OFF</span>
                                    <input id="screen" name="screen" type="checkbox"/>
                                    <label for="screen" class="label-default"></label>
                                    <span>ON</span>
                                </div>
                            </div>
                            <div class="col-md-12 content-list"><a class="list-link" > Block Calls  </a>
                                <div class="material-switch">
                                    <span>OFF</span>
                                    <input id="calls" name="calls" type="checkbox"/>
                                    <label for="calls" class="label-default"></label>
                                    <span>ON</span>
                                </div>
                            </div>
                        </div>
                        <!-- Setting menu design end -->                        
                        <img src="/assets/images/nav_bar.jpg" class="android_nav_bar">
                    </div>
                    <div class="btn-group phone_actions_container" style="margin-top: 5px">
                        <!-- <a class="btn btn-light phone_actions apply_action" (click)="applySettings($event)" disabled>
                            <span class="fa fa-check" style="color:green;">
                            </span>
                            <br>
                            <p>Apply</p>
                        </a> -->
                        <a class="btn btn-light phone_actions apply_action" data-toggle="modal" data-target="#changedapps" (click)="getAppsChanged($event)" disabled>
                            <span class="fa fa-check" style="color:green;">
                            </span>
                            <br>
                            <p>Apply</p>
                        </a>
                        <a class="btn btn-light phone_actions undo_action" (click)="undoSettings($event)" disabled>
                            <span class="fa fa-undo" style="color:orange;"></span><br>
                            <p>Undo</p>
                        </a>
                        <a class="btn btn-light phone_actions redo_action" (click)="redoSettings($event)" disabled>
                            <span class="fa fa-refresh" style="color:orange;"></span><br>
                            <p>Redo</p>
                        </a>
                        <a class="btn btn-light phone_actions clear_all_action" (click)="clearAll($event)" disabled>
                            <span class="fa fa-close" style="color:red;"></span><br>
                            <p>Clear All</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 app_btns">
                <div class="card cs-card">
                    <div class="action_table cs-table" id="third-card">
                        <select class="form-control" >
                            <option>Display</option>
                        </select>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">Push
                                    <span class="fa fa-arrow-up icon_purple"></span>
                                    </span>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">Pull
                                    <span class="fa fa-arrow-down icon_purple"></span></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <div class="select">
                                        <select name="load_policy" id="slct" class="load_policy" (change)="loadProfile($event)">
                                            <option value="" >Load Policy</option>
                                            <option *ngFor="let profile of policies ; let i = index;" value="{{ profile.id }} ">
                                                {{ profile.name }}
                                            </option>
                                        
                                        </select>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <!-- <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">Add Policy
                                        <span class="fa fa-floppy-o icon_purple"></span></span>
                                </a> -->
                                <a *ngIf="isAdmin==true" href="javasacript:void(0)" class="action_btn" (click)="saveProfile($event,'policy')">
                                    <!-- <input type="text" class="save_profile" name="save_policy" [(ngModel)]="policyName" placeholder="Save Policy"> -->
                                        <span class="btn purple">Save Policy
                                            <span class="fa fa-floppy-o icon_purple"></span></span>
                                    
                                </a>
                                <a *ngIf="isAdmin==false" href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">N/A
                                        <span class="fa fa-times icon_purple"></span></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <div class="select">
                                        <select name="load_profile" id="slct" class="load_profile" (change)="loadProfile($event)">
                                            <option value="">Load Profile</option>
                                            <option *ngFor="let profile of profiles ; let i = index;" value="{{ profile.id }} ">
                                                {{ profile.name }}
                                            </option>
                                        </select>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn" *ngIf="userType!='sdealer'" (click)="saveProfile($event,'profile')">
                                    <!-- <input type="text" class="save_profile" name="save_profile" [(ngModel)]="profileName"  placeholder="Save Profile"> -->
                                    <span class="btn purple">Save Profile
                                        <span class="fa fa-floppy-o icon_purple"></span></span>
                                </a>
                                <a *ngIf="userType=='sdealer'" href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">N/A
                                        <span class="fa fa-times icon_purple"></span></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <div class="select">
                                        <select name="load_history" id="slct" class="load_history" (change)="loadHistory($event)">
                                            <option value="">Load History</option>
                                            <option *ngFor="let profile of deviceHistories ; let i = index;" value="{{ profile.id }} ">
                                                {{ profile.created_at | date:'MM/dd H:m:s'}}
                                            </option>
                                        </select>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">Disable
                                    <span class="fa fa-pencil-square-o icon_purple"></span></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">Disable
                                    <span class="fa fa-ban icon_purple"></span></span>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">Power
                                    <span class="fa fa-mobile icon_purple"></span></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">N/A
                                    <span class="fa fa-times icon_purple"></span></span>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">N/A
                                    <span class="fa fa-times icon_purple"></span></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">N/A
                                    <span class="fa fa-times icon_purple"></span></span>
                                </a>
                            </div>
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn" >
                                    <span class="btn purple">N/A
                                    <span class="fa fa-times icon_purple"></span></span>
                                </a>
                            </div>
                        </div>

<!--                         <div class="row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-times"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <a href="javasacript:void(0)" class="action_btn">
                                    <span class="btn purple">N/A
                                        <span class="fa fa-times icon_purple"></span></span>
                                </a>
                            </div>
                        </div> -->
                        
                        <div class="col-sm-12" *ngIf="device_data.account_status!='suspended' ">
                            <button (click)="suspendForm(device_data.device_id);" class="btn btn-block btn_suspend">Suspend</button>
                        </div>
                        <div class="col-sm-12" *ngIf="device_data.account_status=='suspended' " >
                            <button (click)="activateForm(device_data.device_id);" class="btn btn-block btn_active">Activate</button>
                        </div>
                        <div class="col-sm-12">
                           <button (click)="unlinkUser(device_data.device_id)" class="btn btn-block btn_unlink">Unlink</button>
                        </div>
                        <div class="col-sm-12">
                            <button class="btn btn-block btn_power">Power</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="changedapps" class="modal fade bs-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="classInfo"
                aria-hidden="true">
                <div class="modal-dialog modal-md" style="">
                    <div data-spy="scroll" class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
            
                        </div>
                        <div class="modal-body">
                            <table id="classTable" class="table table-striped table-bordered responsive" cellspacing="0">
                                <thead>
                                    <th scope="col text-center" style="text-align:center;">App Name</th>
                                    <th scope="col text-center" style="text-align:center;">Guest</th>
                                    <th scope="col text-center" style="text-align:center;">Encrypted</th>
                                    <th scope="col text-center" style="text-align:center;">Enable</th>
                                    
                                </thead>
                                <tbody>
                                    <tr *ngFor="let app of changedApps; let i = index;">
                                        <td data-table-header="DEALER ID">{{app.label}}</td>
                                        <td data-table-header="DEALER PIN">{{ app.guest == 1 ? 'On' : 'Off'}}</td>
                                        <td data-table-header="DEALER ID">{{app.encrypted == 1 ? 'On' : 'Off'}}</td>
                                        <td data-table-header="DEALER PIN">{{app.enable == 1 ? 'On' : 'Off'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr/>
                        </div>
                        <div class="modal-footer">
                            <br>
                            <br>
                            <a href="javasacript:void(0)" class="btn btn-primary" (click)="applySettings($event)">
                                apply Settings
                            </a>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>