
.card-manu {
    margin-top: -20px !important;
}

.refreshButton {
    margin-bottom: 0px !important;
}

.scrollbar {
    height: 440px !important;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sideMenu {
    background: #ee0f0f;
    border-radius: 8px;
    padding: 8px 8px;
    font-size: 14px;
    width: 80px;
    height: 45px;
}

.table-menu {
    margin: 20px;
    overflow: hidden !important;
    padding-bottom: 7px;
}

.form-group {
    margin-top: 8px;
}

.scrollbar {
    margin-top: 7px;
}
.left_headed{
    color:orange;
}
.col_head div div{
    color: #434373;
    text-align: center;
}
.phone_actions_container{
    border-top: 1px solid #f5efef;
}

.phone_actions{
    /* height: 50px;
    padding-top:10px;
    margin:0px;
    margin-left: 1px;
    background: white !important;
    color:black; */
    /*border-right: 1px solid #cac4c4;*/
    padding-top: 13px;
    width: 25%;
    margin: 0px;
    margin-bottom: -9px;
    background: white !important;
    color: black;
}
.phone_actions:hover p{
    color:black;
}
.phone_actions span{
    font-size: 18px;
}

.phone_actions p{
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 0;
}

.action_table{
    margin-left: 0;
    border-collapse: separate;
    border-spacing: 4px;

}

.action_table tr td{
    border-top: unset;
    padding: 0px;

}
.action_table select{
    width: 90%;
    margin: 20px auto;
}

.action_table button{
    margin-left: 0;
    margin-right: 0;

}

.action_table .purple{
    background: #4e0d6f;
    width: 95% !important;
    height: 50px;
    /*float: left;*/
    margin-top: 5px;
    padding: 5px 10px ;
}
.btn_new {
      box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 40px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    line-height: 30px;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0px 1px 1px #888;
}
.btn_new span.title {
    -webkit-box-shadow: 0 3px 0 0 #00ae94;
    box-shadow: 0 3px 0 0 #00ae94;
    background-color: #00cdae;
}
.btn_new span.left {
    float: left;
    border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -webkit-border-radius: 6px 0 0 6px;
}
.btn_new span.icon {
    font-size: 23px;
    background-color: #00967f;
    -webkit-box-shadow: 0 3px 0 0 #007261;
    box-shadow: 0 3px 0 0 #007261;
    text-shadow: 0px 1px 1px #888;
}
.btn_new span.right {
    float: right;
    border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -webkit-border-radius: 0 6px 6px 0;
}
.icon-tablet:before {
    content: "\f10a";
}
.btn_new:active {
    height: 38px;
}
.btn_new span.icon, .btn_new span.title {
    display: block;
    position: relative;
    line-height: 50px;
    padding: 0 30px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.action_table span {
    color: white;
    /*padding: 7px;*/
    line-height: 38px;
    text-align: center;
/*    width: 18%!important;
    height: 50px;*/
    margin: 0px;
}
.action_table[_ngcontent-c2] {
    overflow: unset;
    width: 100%!important;
    border-collapse:separate;
    border-spacing: 4px;
}
.action_table .purple:hover{
    background: #620094 !important;
}

.action_table .purple:active{
    background: #620094!important;
}
.action_table .purple:focus{
    background:#4e0d6f!important;
}

.action_table  tbody td{
    background: #4e0d6f;
}

.action_table tfoot td{
    padding: 2px;
}
.left_headed{
    text-align: left;
}
.col_head[_ngcontent-c2] div[_ngcontent-c2] div[_ngcontent-c2] {
    color: #434373;
    text-align: left;
}
.navbar.navbar-absolute {
    position: absolute;
    width: 34%;
    padding-top: 10px;
    z-index: 1029;
    left: 6px;
}
.navbar.navbar-transparent {
    background-color: transparent!important;
    box-shadow: none;
    border-bottom: 0 solid #ddd;
}
.ngx-datepicker-position-bottom-right {
    /* top: -230px!important;
    left: -5px!important;
    z-index: 10000; */
}
.apps_card{
    height: 100%;
    padding-bottom: 0px;
}
.apps_grid{
    padding-bottom: 15px;
    height: auto;
    margin: 0;
    border-radius: 12px;
    margin-bottom: 20px;
}
.apps_header{
    background: #999;
    margin: 0;
    z-index: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    color: white;
    height: 50px;
}
.apps_container{
  height: 75%!important;
  background: #212529!important;
  overflow-y: scroll!important;
}
.apps_container::-webkit-scrollbar {
    width: 5px;
}
/* Track */
.apps_container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.btndropdown {    
    margin: 8px 15px;
    padding: 5px;
    background: #999999;
    color: #fff;
    font-size: 18px;
  }
.btndropdown:hover ,
.btndropdown:focus ,
.btndropdown:active {
  background: #999999 !important;
}
/* Handle */
.apps_container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.apps_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.app_img{
  height: 30px;
  width: 30px;
}
.app_name{
  display: flex;
}
.dropdown-menu{
  top: 0px;
  left: 0px;
  margin-top: 0px;
  border-radius: 2px;
  padding: 10px;
  position: relative;
  transform: translate3d(175px, 20px, 0px);
  will-change: transform;
}

.dropdown-menu.show {
    display: block;
    left: -210px!important;
}

.cs-card {
    border-radius: 12px;
    padding:0;
    background: #fff;
}
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  top: 1px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
#third-card .col-sm-5 {
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
}
#third-card .row {
    margin: 0px
}
.app_btns {
    margin: 0;
    padding: 0 15px;
}
/*----- Mobile css ------*/
.main-frame{
    background-color:#000000;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position:relative;
    z-index:1;
    width: 340px;
    height: 550px;
  }
.second-frame{
    height:auto;
    width: auto;
    border:solid 20px #000;
    border-radius:40px;
    border-bottom:solid 20px #000;
    border-top:solid 60px #000;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    z-index:2;
    background: #000;
    margin: 15px 15px 5px;
  }
.second-frame img {
    border-radius: 0;
    vertical-align: bottom;
}
.top_bar {
  width: 100%;
}
.android_nav_bar {
    margin-top: 10px;
}
.frame-scroll-correction{
  position:absolute;
  height:100%;
  width:22px;
  background-color:#000;
  z-index:99;
  right:-20px;
  }
.resolution-selecter-deploy em{
  float:right;
  padding-right:20px;
  font-size:19px;
  font-style:normal;
  }
input:checked + .slider {
  background-color: #5a5a5b;
}
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.background-card {
    height: 325px;
    background: #303030;
    overflow: overlay;
}
.background-card::-webkit-scrollbar {
  width: 7px;
}
 .background-card {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.background-card::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.background-card::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(107, 107, 107);
}

.content-list {
    background-color: #303030;
    color:white;
    border:0;
    border-bottom:1px solid #9f9f9f;
    padding: 10px 15px;
}
.list-link {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.locker-logo {
    margin: 15px 0 20px;
    width: 40%;
}
.guest-pin-screen {
    background: #202020;
    margin: 0px;
    z-index: -276;
    width: 100%;
    margin-left: 0px;
    margin-right: 7px;
    color: white;
    height: 56px;
}
.btn-refresh {
    font-weight: 600;
    font-size: .8571em;
    line-height: 1.35em;
    text-transform: uppercase;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    transition: all .15s linear;
    margin: 0;
    border-radius: 0;
    background-color: #9cd514;
}
.btn-refresh:hover , .btn-refresh:active  {
    background-color: #91ca08 !important;
}
.btn-group .btn+.btn {
    margin-left: 0px;
}
/*.deviceS {
    background-image: url(/assets/images/bg.png);
    padding: 17% 9% 17% 9%;
    background-size: contain;
    height: 100%;
    background-repeat: no-repeat;
}*/


/*-------- Confirm password CSS--------*/
.pin_header{
    background: #131313;
    margin: 0;
    z-index: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    color: white;
    height: 50px;
}
.confirm_password {
    background: #303030;
    text-align: center;
    height: 400px;
}
.header_text {
    margin-left: 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 50px;
    vertical-align: top;
}
.pin_header .fa {
    line-height: 50px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.pin {
    width: 70%;
    border: 0;
    outline: 0;
    padding: 5px 0 1px;
    border-bottom: 2px solid #d3d3d3;
    box-shadow: none;
    color: #111;
    text-align: center;
    background: #303030;
    margin-top: 15px;
    color: #40dcff;
    font-size: 13px;
}
.pin:focus,
.pin:valid {
  border-color: #40dcff;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.confirm_pass {
    background: #5a595b;
    color: #fff;
    padding: 10px 10%;
    text-align: center;
    margin-top: 40px;
    font-size: 10px;
}

@media only screen and (min-width: 768px){

    #option-button {
        display: none;
    }
    .content {
        margin-top: 33px;
    }
    #third-card {
       /* margin-left: 42px;*/
    }

    #navbar {
        display: none;
    }
    .content {
        margin-top: 22px;
    }
    #third-card {
        /*margin-left: 0px;
        margin-right: 12px;*/
    }
    .main-panel>.content {
        margin: 40px 0 0 0 !important;
    }
   
}

@media screen and (max-width: 768px) {
    .main-panel .content {
        padding-left: 15px;
        padding-right: 15px;
        margin: 40px 0 0 0 !important;
    }
    .text-left-force {
        text-align: left!important;
    }

    .margin-left {
        margin-left: 0 !important;
    }

    .no-padding-all {
        padding: 20px 15px 0 15px !important;
    }

    .no-padding-let {
        padding-left: 0 !important;
    }

    .no-padding-right {
        padding-right: 0 !important;
    }

    .col-width-thirtyfive {
        width: 30% !important;
    }

    .col-width-sixtyfive {
        width: 65% !important;
    }

  .locker-logo {
        margin: 10px 0;
        
    }
}


@media screen and (max-width: 575px){

    #third-card .col-sm-5 {
      padding-right: 15px;
      padding-left: 15px;
      margin-top: 10px;
  }
}
