    .tooltiptext[_ngcontent-c1] {
        visibility: hidden;
        width: 54px;
        background-color: #fab526;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        font-weight: 500;
        padding: 6px 0;
        position: absolute;
        z-index: 1;
        font-size: 14px;
        top: 0px;
        left: -54px;
        text-transform: capitalize;
    }

    thead>tr>th {
        cursor: pointer;
        min-width: 120px;
        border: 1px solid #eae6e6;
    }

    .expand{
      background: #0ab50a;
      color: white!important;
      padding: 0 3px 0 2px;
      font-size: 13px;
      margin: auto auto !important;
      border: 1px solid #0ab50a !important;


    }
    .unexpand{
      background: #d80909;
      color: white!important;
      padding: 0px 3px 0px 3px;
      font-size: 14px;
      margin-left: 6px;
      margin-right: 19px!important;
      /* border: 1px solid #d80909!important; */
    }

  td.btnFull .btn{
      display: block;
      width: 80px;
      margin: 2px 2px;
    }
  td a:hover{
    text-decoration: none;
  }
  .headings{
    background: rgba(244,244,244,1);
  }
  table thead tr th input{
    font-family:Arial, FontAwesome;
    font-size: 11px;
  }
  #datatable th label{
    width: 100%;
    position: relative;
  }
  #datatable th label span{
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  .inputs{
    font-size: 11px;
    height: 40px;
  }
  .notify_button{
    /* visibility: !important; */

  }
  #classTable th{
    text-align: center;
    font-size: 12px;
  }

  .search-btn{
    position: relative;
  }

  .search-btn span{
    position: absolute;
    right: 23px;
    top: 12px;
  }
  #formData label{
    text-align: right;
    line-height: 35px;
  }
    .connect {
        background-color:#9cd514;
    }

    .suspend {
        background-color:#d61415;
    }
    .edit{
        background-color: #f09f2c;
    }
    .activate {
      background-color:  #9cd514;
    }
