<style>
    .combo-label {
        margin-bottom: .5em;
    }
    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {
        #plus {display:none}
        #option-button {
            display: none;
        }
       }
        @media only screen and (min-width: 760px),
        (min-device-width: 768px) and (max-device-width: 1024px)  {
            #navbar {
                display: none;
            }
            .content {
                margin-top: -22px;
            }

        }

    @media screen and (max-width:768px){
        #classTable[_ngcontent-c2] th[_ngcontent-c2],
        tr[_ngcontent-c2]{
            display:none;
        }
        .modal-body {
            padding: 20px 25px;
            color: #000;
        }

    }
</style>

<div class="wrapper ">
    <!-- <app-header ></app-header> -->
    <app-acl></app-acl>
    <div class="main-panel" style="min-height:fit-content;">
        <div class="row container" style="margin-top: 30px">

        </div>
        <!-- Navbar -->
        <!--&lt;!&ndash;--> <nav id="navbar" class="navbar navbar-expand-lg navbar-absolute fixed-top ">
        <div class="container-fluid">
            <div class="navbar-wrapper">
                <div class="navbar-minimize">
                    <button onclick="togglelogo();" id="" class="btn btn-icon btn-round">
                        <i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>
                        <i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>
                    </button>
                </div>
                <div class="navbar-toggle">
                    <button type="button" class="navbar-toggler">
                        <span class="navbar-toggler-bar bar1"></span>
                        <span class="navbar-toggler-bar bar2"></span>
                        <span class="navbar-toggler-bar bar3"></span>
                    </button>
                </div>
                <!--<a class="navbar-brand">LOGO</a>-->
            </div>
            <button class="navbar-toggler" id="option-button" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
                <ul class="navbar-nav">
                    <li>
                        <!--<span class="nav-link btn-rotate d-md-ver">WebMDM_v1.02</span>-->
                    </li>
                    <!--<li class="nav-item">-->
                    <!--<a class="nav-link btn-rotate" href="javascript:void(0)" (click)="onLogout()">-->
                    <!--Logout-->
                    <!--<p>-->
                    <!--<span class="d-lg-none d-md-block">Account</span>-->
                    <!--</p>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </nav>
        <!-- End Navbar -->
        <div class="content" >
            <div class="row" style="margin: 0 -15px">
                <div class="col-md-12">
                    <div class="card" style="border-radius:unset;">
                        <div class="card-header" style="padding: 15px 0">
                            <!-- <h4 class="card-title col-md-12 text-center">All Devices</h4> -->
                            <div class="row" style="margin: 0">
                                <div class="col-md-3">
                                    <angular2-multiselect  [data]="dropdownList" [(ngModel)]="selectedItems" [settings]="dropdownSettings" (onSelect)="onItemSelect($event, null)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                                    </angular2-multiselect>

                                </div>
                                <div class="col-md-3 show_devices">
                                    <select class="form-control inputs on-small-margin" placeholder="Device" name="display_device" (input)="deviceFilter($event)">
                                        <option value="">SHOW DEVICES</option>
                                        <option>Active</option>
                                        <option>Unliked/Deleted</option>
                                        <option>Expired</option>
                                        <option>Suspended</option>
                                    </select>
                                </div>
                                <div class="col-md-3 search-btn">
                                    <input class="form-control inputs on-small-margin" type="text" placeholder="SEARCH" (input)="searchDevice($event.target.value)">
                                    <span class="fa fa-search"></span>
                                </div>
                                <div class="col-md-3">
                                    <!-- <a class="mbTop" routerLink="/black-list-devices"><button
                                            class="btn btn-dange bld">Black List Devices</button></a> -->
                                    <select class="form-control inputs on-small-margin" name="paging" (change)="paging($event.target.value)">
                                        <option>10</option>
                                        <option>20</option>
                                        <option>30</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" style="border-radius:unset;">
                        <div class="card-header">

                        </div>
                        <div class="card-body cardHig" style="overflow-x: scroll;">
                            <div class="toolbar">
                            </div>
                            <table id="datatable" class="table table-bordered responsive" cellspacing="0" width="100%">
                                <thead >
                                    <tr>
                                        <th  class="disabled-sorting" style="min-width: 35px;"></th>
                                        <th class="disabled-sorting"></th>
                                        <th nowrap *ngIf="state.name == true" >
                                            <label>
                                                <input class="form-control" type="text" name="name" placeholder="Name" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.email == true" >
                                            <label>
                                                <input class="form-control" type="text" name="email" placeholder="Email" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.client_id == true" >
                                            <label>
                                                <input class="form-control" type="text" name="client_id" placeholder="Client Id" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="(state.dealer_id == true) && (userType=='admin')" >
                                            <label>
                                                <input class="form-control" type="text" name="dealer_id" placeholder="Dealer Id" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.link_code == true" >
                                            <label>
                                                <input class="form-control" type="text" name="dealer_pin" placeholder="Dealer Pin" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.imei == true" >
                                            <label>
                                                <input class="form-control" type="text" name="imei" placeholder="IMEI" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.sim_id == true" >
                                            <label>
                                                <input class="form-control" type="text" name="sim_id" placeholder="SIM ID" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.simno == true" >
                                            <label>
                                                <input class="form-control" type="text" name="sim" placeholder="SIM" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.status == true" >
                                            <label>
                                                <input class="form-control" type="text" name="status" placeholder="Status" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.device_id == true" >
                                            <label>
                                                <input class="form-control" type="text" name="device_id" placeholder="Device Id" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.model == true" >
                                            <label>
                                                <input class="form-control" type="text" name="model" placeholder="Model" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.start_date == true" >
                                            <label>
                                                <input class="form-control" type="text" name="start_date" placeholder="Start Date" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.expiry_date == true" >
                                            <label>
                                                <input class="form-control" type="text" name="expiry_date" placeholder="Expiry Date" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.dealer_name == true" >
                                            <label>
                                                <input class="form-control" type="text" name="dealer_name" placeholder="Dealer Name" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.online == true" >
                                            <label>
                                                <input class="form-control" type="text" name="online" placeholder="Online" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.serial_number == true" >
                                            <label>
                                                <input class="form-control" type="text" name="serial_number" placeholder="Serial Number" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="state.mac_address == true" >
                                            <label>
                                                <input class="form-control" type="text" name="mac_address" placeholder="Mac Address" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="(state.s_dealer == true) && (userType=='admin' || userType=='dealer')" >
                                            <label>
                                                <input class="form-control" type="text" name="s_deare_id" placeholder="S-dealer Id" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                        <th nowrap *ngIf="(state.s_dealer_name == true) && (userType=='admin' || userType=='dealer')" >
                                            <label>
                                                <input class="form-control" type="text" name="s_dealer_name" placeholder="s-dealer Name" (input)="searchField($event)">
                                                <span class="fa fa-search"></span>
                                            </label>
                                        </th>
                                    </tr>
                                    <tr class="text-center btnFull" >
                                        <th class="disabled-sorting headings" style="min-width: 35px;"></th>
                                        <th  scope="col" class="disabled-sorting headings">Action</th>
                                        <!-- name -->
                                        <th  scope="col"  class="headings" drag-me drop-me nowrap *ngIf="state.name == true" (click)="sort('name')">Name
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <!-- email -->
                                        <th  scope="col"  class="headings" drag-me drop-me nowrap *ngIf="state.email == true" (click)="sort('email')">Email
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <!-- client id -->
                                        <th   scope="col" class="headings" nowrap *ngIf="state.client_id == true" (click)="sort('client_id')">Client Id
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <!-- dealer id -->
                                        <th  scope="col"  class="headings" nowrap *ngIf="(state.dealer_id == true)  && (userType=='admin')" (click)="sort('dealer_id')">Dealer Id
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <!-- dealer_pin -->
                                        <th   scope="col" class="headings" nowrap   *ngIf="state.link_code == true" (click)="sort('link_code')">Dealer Pin
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <!-- imei -->
                                        <th   scope="col" class="headings" nowrap *ngIf="state.imei == true" (click)="sort('imei')">IMEI
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="state.sim_id == true" (click)="sort('sim_id')">SIM ID
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="state.simno == true" (click)="sort('simno')">SIM
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="state.status == true" (click)="sort('status')">Status
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th  scope="col"  class="headings" nowrap *ngIf="state.device_id == true" (click)="sort('device_id')">Device Id
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="state.model == true" (click)="sort('model')">Model
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="state.start_date == true" (click)="sort('start_date')">Start Date
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="state.expiry_date == true" (click)="sort('expiry_date')">Expiry Date
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th  scope="col"  class="headings" nowrap *ngIf="state.dealer_name == true" (click)="sort('dealer_name')">Dealer Name
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="state.online == true" (click)="sort('online')">Online
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="state.serial_number == true" (click)="sort('serial_number')">Serial Number
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="state.mac_address == true" (click)="sort('mac_address')">Mac Address
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th   scope="col" class="headings" nowrap *ngIf="(state.s_dealer == true)  && (userType=='admin' || userType=='dealer')" (click)="sort('s_dealer')">S-dealer Id
                                            <span class="fa fa-sort"></span>
                                        </th>
                                        <th scope="col" class="headings" nowrap *ngIf="(state.s_dealer_name == true) && (userType=='admin' || userType=='dealer')" (click)="sort('s_dealer_name')">s_dealer_name
                                            <span class="fa fa-sort"></span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <ng-container *ngFor="let device of allDevice | orderBy: key : reverse | paginate: {id: 'datatable', itemsPerPage: perPage, currentPage: p } ; let i = index;">
                                        <tr class="row_{{device.device_id}}" *ngIf="device.device_status!=0 || device.unlink_status==1">
                                            <!-- blank -->
                                            <td class="text-center btnFull" id="plus">
                                                <a href="javascrtip:void(0)" class="expand rounded" (click)="collapse(device,$event);">
                                                    <span class="fa fa-plus" ></span>
                                                </a>

                                            </td>

                                            <!-- actions -->
                                            <td data-table-header="ACTION"  class="text-left btnFull">
                                                <div class="btn-group">
                                                    <a href="javascript:void(0)" *ngIf="device.device_status==1 && (device.account_status==null || device.account_status=='')" (click)="suspendForm(device.device_id);">
                                                        <button class="btn btn-sm suspend">Suspend</button>
                                                    </a>
                                                    <a href="javascript:void(0)" *ngIf="device.device_status==1 &&  device.account_status=='suspended' " (click)="activateForm(device.device_id);">
                                                        <button class="btn btn-sm activate">Activate</button>
                                                    </a>
                                                    <a href="javascript:void(0)" *ngIf="device.device_status==1" (click)="showEditForm(device);" data-toggle="modal" data-target="#edit">
                                                        <button class="btn btn-sm edit" >Edit</button>
                                                    </a>

                                                    <a routerLink="/connect-devices/{{device.device_id}}">
                                                        <button class="btn btn-sm connect" *ngIf="device.device_status==1">Connect</button>
                                                    </a>

                                                    <!-- <a href="javascript:void(0)"><button class="btn btn-info btn-sm" *ngIf="device.device_status==1" (click)="unlinkUser(device.device_id)">Unlink</button></a> -->

                                                    <!-- <a href="javascript:void(0)" *ngIf="device.device_status==0" (click)="showEditForm(device);" data-toggle="modal" data-target="#edit">
                                                      <button class="btn btn-success btn-sm">Accept</button>
                                                    </a> -->

                                                    <!-- <a href="javascript:void(0)" *ngIf="device.device_status==0" (click)="deleteUserDetails(device.device_id)">
                                                      <button class="btn btn-warning btn-sm">Decline</button>
                                                    </a> -->
                                                </div>
                                            </td>

                                            <!-- name -->
                                            <td data-table-header="NAME" *ngIf="state.name == true">
                                                <span *ngIf="device.name != 'null';else showBlank">{{ device.name }}</span>
                                            </td>
                                            <!-- email -->
                                            <td  data-table-header="EMAIL" *ngIf="state.email == true">
                                                <span *ngIf="device.email != 'null';else showBlank">{{ device.email }}</span>
                                            </td>

                                            <!-- client id -->
                                            <td  data-table-header="CLIENT ID" *ngIf="state.client_id == true">
                                                <span *ngIf="device.client_id != 'null';else showBlank">{{ device.client_id }}</span>
                                            </td>

                                            <td  data-table-header="DEALER ID" *ngIf="state.dealer_id == true">
                                                <span *ngIf="device.dealer_id != 'null';else showBlank">{{ device.dealer_id }}</span>
                                            </td>
                                            <td  data-table-header="DEALER PIN" *ngIf="state.link_code == true">
                                                <span *ngIf="device.link_code != 'null';else showBlank">{{ device.link_code }}</span>
                                            </td>
                                            <td data-table-header="IMEI"  *ngIf="state.imei == true">
                                                <span *ngIf="device.dealer_name != 'null';else showBlank">{{ device.imei }}</span>
                                            </td>
                                            <td data-table-header="SIM ID"  *ngIf="state.sim_id == true">
                                                <span *ngIf="device.sim_id != 'null';else showBlank">{{ device.sim_id}}</span>
                                            </td>
                                            <td data-table-header="SIM"  *ngIf="state.simno == true">
                                                <span *ngIf="device.simno != 'null';else showBlank">{{ device.simno}}</span>
                                            </td>
                                            <td  data-table-header="STATUS" *ngIf="state.status == true">
                                                <span *ngIf="device.status != 'null';else showBlank">{{device.account_status == 'suspended' ? 'Suspended' : device.status }}</span>
                                            </td>
                                            <td  data-table-header="DEVICE ID" *ngIf="state.device_id == true">
                                                <span *ngIf="device.device_id != 'null';else showBlank">{{ device.device_id }}</span></td>
                                            <td  data-table-header="MODEL" *ngIf="state.model == true">
                                                <span *ngIf="device.model != 'null';else showBlank">{{ device.model }}</span></td>
                                            <td  data-table-header="START DATE" *ngIf="state.start_date == true">
                                                <span *ngIf="device.start_date != 'null';else showBlank">
                                                <span style="white-space: nowrap ;">{{ device.start_date | date:'dd.MM.yyyy H:mm' }}</span></span>
                                            </td>
                                            <td data-table-header="EXPIRY DATE"  *ngIf="state.expiry_date == true">
                                                <span *ngIf="device.expiry_date != 'null';else showBlank">
                                                <span *ngIf="device.expiry_date!='' || device.expiry_date!=null" style="white-space: nowrap ;">{{ device.expiry_date |  date:'dd.MM.yyyy H:mm'  }}</span></span>
                                            </td>
                                            <td  data-table-header="DEALER NAME" *ngIf="state.dealer_name == true">
                                                <span *ngIf="device.dealer_name != 'null';else showBlank">{{device.dealer_name}}</span>
                                            </td>

                                            <td data-table-header="ONLINE"  *ngIf="state.online == true">
                                                <span *ngIf="device.online != 'null';else showBlank">{{ device.online }}</span>
                                            </td>
                                            <td  data-table-header="SERIAL NUMBER" *ngIf="state.serial_number == true">
                                                <span *ngIf="device.serial_number != 'null';else showBlank">{{ device.serial_number}}</span>
                                            </td>
                                            <td  data-table-header="MAC ADDRESS" *ngIf="state.mac_address == true">
                                                <span *ngIf="device.mac_address != 'null';else showBlank">{{ device.mac_address }}</span>
                                            </td>
                                            <td  data-table-header="S -DEALER ID" *ngIf="state.s_dealer == true">
                                                <span *ngIf="device.s_dealer != 'null';else showBlank">{{ device.s_dealer }}</span>
                                            </td>
                                            <td data-table-header="S_DEALRE_NAME"  *ngIf="state.s_dealer_name == true">
                                                <span *ngIf="device.s_dealer_name != 'null';else showBlank">{{ device.s_dealer_name }}</span>
                                            </td>

                                            <ng-template #showBlank></ng-template>
                                            <!-- <div class="show_details">
                                              <p>
                                                hello
                                              </p>
                                            </div> -->
                                        </tr>
                                        <tr *ngIf="device.device_status!=0 || device.unlink_status==1" style="display:none;" class="detailed_row_{{device.device_id}}">
                                            <td colspan="25" style="text-align:left!important;padding-left:50px;"></td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                            <div class="row text-center" style="display: block;">
                                <pagination-controls (pageChange)="p = $event" id="datatable" ></pagination-controls>
                            </div>

                            <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true" style="top:-50px">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="close" id="from" data-dismiss="modal">&times;</span>
                                        </div>
                                        <div class="modal-body" style="scroll-behavior: smooth;height: 80vh;">
                                            <form class="form-horizontal" id="formData" #deviceData="ngForm" method="" (ngSubmit)="updateAdmin()" ngNativeValidate>
                                                <p> (*)- Mandotory fields</p>
                                                <div class="form-group row">
                                                    <label class="col-sm-4">Name *</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="name" [(ngModel)]="data.name"/>
                                                        <font class="errortext" color="red" *ngIf="!deviceData.form.controls.name?.valid && deviceData.form.controls.name?.touched">Please Enter Your Name</font>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-sm-4">Client_Id</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="client_id" [(ngModel)]="data.client_id">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4">Sim Id</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="sim_id" [(ngModel)]="data.sim_id">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4">Model</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="model" [(ngModel)]="data.model">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4">Email *</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" class="form-control" required="" name="email" [(ngModel)]="data.email" required>
                                                        <font class="errortext" color="red" *ngIf="!deviceData.form.controls.email?.valid && deviceData.form.controls.email?.touched">Please Enter Your Email</font>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4">IMEI</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="imei" [(ngModel)]="data.imei" disabled>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group">
                                                    <label>S-dealer</label>
                                                    <input type="text" class="form-control" required="" name="s_dealer" [(ngModel)]="data.s_dealer_name" disabled>
                                                </div> -->
                                                <div class="form-group row">
                                                    <label class="col-sm-4">Start Date</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" name="start_date" [(ngModel)]="data.start_date" disabled>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-sm-4">Expiry Date</label>
                                                    <div class="col-sm-8">
                                                        <ng-datepicker ng-required="true" name="expiry_date" [ngStyle]="{'width':'100%'}" [options]="options" [(ngModel)]="data.expiry_date"></ng-datepicker>

                                                    </div>
                                                    <!-- <input type="text" class="form-control" required="" id="expiredate" name="expiry_date" [(ngModel)]="data.expiry_date"> -->
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-5">

                                                    </div>
                                                    <div class=" col-sm-6">
                                                        <button type="submit" class="btn btn-primary">UPDATE</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

                            <div  id="newrequestmodel" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="classInfo" aria-hidden="true" >
                                <div  class="modal-dialog modal-lg" style="max-width: 1285px;">
                                    <div data-spy="scroll" class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                ×
                                            </button>

                                        </div>
                                        <div class="modal-body">
                                            <table id="classTable" class="table table-striped table-bordered responsive" cellspacing="0">
                                                <thead>
                                                <th scope="col">ACTION</th>
                                                <th scope="col">DEALER ID</th>
                                                <th scope="col">DEALER PIN</th>
                                                <th scope="col">S-DEALER</th>
                                                <th scope="col">DEVICE ID</th>
                                                <th scope="col">IMEI</th>
                                                <th scope="col">SIM</th>
                                                <th scope="col">Online</th>

                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let device of allDevice | orderBy: key : reverse ; let i = index;">
                                                    <ng-container *ngIf="device.device_status==0 && device.dealer_id!=0 && device.unlink_status==0">
                                                        <td data-table-header="ACTION" class="text-left btnFull">
                                                            <div class="btn-group">
                                                                <a class="acceptbut" onclick="closeModal()" href="javascript:void(0)" *ngIf="device.device_status==0" (click)="showEditForm(device);" data-toggle="modal" data-target="#edit">
                                                                    <button class="btn btn-success btn-sm" >Accept</button>
                                                                </a>

                                                                <a href="javascript:void(0)" *ngIf="device.device_status==0" (click)="deleteUserDetails(device.device_id)">
                                                                    <button class="btn btn-warning btn-sm">Decline</button>
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td data-table-header="DEALER ID">{{device.dealer_id}}</td>
                                                        <td data-table-header="DEALER PIN">{{device.link_code}}</td>
                                                        <td data-table-header="S-DEALER">{{device.dealer_name}}</td>
                                                        <td data-table-header="DEVICE ID">{{device.device_id}}</td>
                                                        <td data-table-header="IMEI">{{device.imei}}</td>
                                                        <td data-table-header="SIM">{{device.simno}}</td>
                                                        <td data-table-header="ONLINE">{{device.online}}</td>

                                                    </ng-container>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">
                                              Close
                                            </button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.acceptbut').on('click',function(){
        alert('hello');
    });

</script>