.and_icon , .policy_icon {
    font-size: 40px;
    border: 4px solid #038fdd;
    border-radius: 50%;
    padding: 15px;
    background: #036;
    color: #9dceff;
}
.manage_sec .ant-card-body {
    height: 215px;
}