.form-group {
    margin-top: 8px;
}

.scrollbar {
    margin-top: 7px;
}

.shadow {
    min-height: calc(100vh - 123px);
}

.form-horizontal .col-form-label,
.form-horizontal .label-on-right {
    text-align: center;
}