.form-group {
    margin-top: 8px;
}

.scrollbar {
    margin-top: 7px;
}

.shadow {
    min-height: calc(100vh - 123px);
}

.form-horizontal .col-form-label,
.form-horizontal .label-on-right {
    text-align:left;
}
.profile-head {
    background-color:	#9cd514;
    line-height: 0.45em;
    margin-top: 21px;
    margin-bottom: 15px;
    padding: 4px;
}
