<div class="wrapper" style="overflow: hidden">


    <!-- <div class="col-md-3"> -->
    <app-header></app-header>
    <!-- </div> -->
    <div class="main-panel col-md-12">
        <!-- Navbar -->
        
        <!-- End Navbar -->
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal" id="formData" #deviceData="ngForm" >
                        <div class="profile-head" >
                        <h4 class="heading" style="font-size: 18px;text-align: center">Your Profile</h4>
                        </div>
                        <div class="card ">


                            <div class="card-body card-manu row">
                                <div class="col-sm-4"></div>

                                <div class="col-sm-7" style="text-align: left">
                                    <div class="scrollbar">
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label">Name:</label>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    {{profile.dealer_name}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <label class="col-sm-3 col-form-label">Dealer Id:</label>
                                            <div class="col-sm-5">
                                                <div class="form-group">
                                                    {{profile.dealer_id}}
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <label class="col-sm-3 col-form-label">Email:</label>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    {{profile.dealer_email}}
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <label class="col-sm-3 col-form-label">Link Code:</label>
                                            <div class="col-sm-7">
                                                <div class="form-group">
                                                    {{profile.link_code}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- end row -->
        </div>
    </div>
</div>
