.form-group {
    margin-top: 8px;
}

.scrollbar {
    margin-top: 7px;
}

.shadow {
    min-height: calc(100vh - 123px);
}

.form-horizontal .col-form-label,
.form-horizontal .label-on-right {
    text-align:left;
}
.profile-head {
    background-color:	#9cd514;
    line-height: 0.45em;
    margin-top: 21px;
    margin-bottom: 15px;
    padding: 4px;
}
.navbar.navbar-absolute {
    position: absolute;
    width: 34%;
    padding-top: 10px;
    z-index: 1029;
    left: 6px;
}
.navbar.navbar-transparent {
    background-color: transparent!important;
    box-shadow: none;
    border-bottom: 0px solid #ddd;
}
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    #option-button {
        display: none;
    }
    .content {
        margin-top: 33px;
    }

}
@media only screen and (min-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    #navbar {
        display: none;
    }
    .content {
        margin-top: -1px;
    }

}