.devices table th {
    white-space: nowrap !important;
}

.devices table td {
    white-space: nowrap !important;
}

.ant-btn-sm {
    line-height: 20px !important;
    font-size: 10px;
}

/* .ant-dropdown.ant-dropdown-placement-bottomRight {
    left: 169px !important;
    top: 12px !important;
} */

.edit_ftr_btn {
    text-align: right;
    border-top: 1px solid #e8e8e8;
    padding-top: 13px;
    margin-bottom: 0px !important;
    margin-top: 24px;
}

.edit_ftr_btn button {
    margin-bottom: 0;
    margin-left: 1px;
}

.edit_form .ant-modal-body {
    padding: 16px 16px 16px;
}
.prof_f_b .ant-modal-body {
    padding: 16px 16px;
}
.search_heading input {
    height: 26px;
    font-size: 12px;
    font-weight: 300;
    padding: 5px;
    padding-right: 18px !important;
}

.search_heading i {
    font-size: 11px;
    color: #b2b2b2;
}

.search_heading {
    margin-bottom: 0;
}
.search_heading .ant-input-suffix {
    right: 6px;
}
.ant-table-row-expand-icon {
    width: 20px;
    height: 20px;
    line-height: 16px;
    font-size: 20px;
}
.dev_table th {
    padding: 8px 8px !important;
}
.devices th {
    padding: 8px 8px !important;
}
.expand_table .bold {
    font-weight: 500 !important
}
.ant-modal {
    top: 24px;
}
.gx-sidebar-content .fa-mobile {
    font-size: 30px;
    vertical-align: text-bottom;
    margin-left: 4px;
    margin-right: 8px;
    line-height: 25px;
}
.dev_tabs .ant-tabs-tab  {
    text-align: center;
}
.dev_tabs .ant-tabs-bar  {
    margin-bottom: 0px;
}
.dev_tabs .ant-card-bordered {
    border-top: #fff;
}
.mb-0 {
    margin-bottom: 0;
}