<div class="wrapper ">
    <app-header></app-header>
    <div class="main-panel">
        <!-- Navbar -->
        <!--<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="border:0;padding:0">-->
            <!--<div class="container-fluid">-->
                <!--<div class="navbar-wrapper">-->
                    <!--<div class="navbar-minimize">-->
                        <!--&lt;!&ndash;<button onclick="togglelogo();" id="" class="btn btn-icon btn-round">&ndash;&gt;-->
              <!--&lt;!&ndash;<i class="nc-icon nc-minimal-right text-center visible-on-sidebar-mini"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;<i class="nc-icon nc-minimal-left text-center visible-on-sidebar-regular"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
                    <!--</div>-->
                    <!--<div class="navbar-toggle">-->
                        <!--<button type="button" class="navbar-toggler">-->
              <!--<span class="navbar-toggler-bar bar1"></span>-->
              <!--<span class="navbar-toggler-bar bar2"></span>-->
              <!--<span class="navbar-toggler-bar bar3"></span>-->
            <!--</button>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;<a class="navbar-brand">LOGO</a>&ndash;&gt;-->
                <!--</div>-->
                <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">-->
          <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
          <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
          <!--<span class="navbar-toggler-bar navbar-kebab"></span>-->
        <!--</button>-->
                <!--&lt;!&ndash;<div class="collapse navbar-collapse justify-content-end" id="navigation">&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="navbar-nav">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span class="nav-link btn-rotate d-md-ver">WebMDM_v1.02</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
                            <!--&lt;!&ndash;<a class="nav-link btn-rotate" href="javascript:void(0)" (click)="onLogout()">&ndash;&gt;-->
                                    <!--&lt;!&ndash;Logout&ndash;&gt;-->
                                    <!--&lt;!&ndash;<p>&ndash;&gt;-->
                                        <!--&lt;!&ndash;<span class="d-lg-none d-md-block">Account</span>&ndash;&gt;-->
                                    <!--&lt;!&ndash;</p>&ndash;&gt;-->
                                <!--&lt;!&ndash;</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</nav>-->
        <!-- End Navbar -->
        <div class="content shadow">

            <div class="row">

                <div class="col-md-8 m-auto d-block">
                    <div class="back-button col-md-2 col-md-offset-9" style="padding-bottom: 11px">
                        <a routerLink="/sdealer" class="">
                            <button class="btn btn-success">Back</button></a>
                    </div>
                    <div class="card">
                        <form name="myForm" class="form-horizontal" #dealerData="ngForm" (ngSubmit)="addSDealer()" ngNativeValidate>
                            <div class="card-header text-center">
                                <h4 class="card-title">ADD New S-Dealer</h4>
                                <hr>
                            </div>
                            <div class="card-body ">
                                <div class="row" *ngIf="userType=='admin'">
                                    <label class="col-sm-3 col-form-label">Select Dealer Name</label>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <select id="position" class="form-control" name="dealer_id" required [(ngModel)]="sDealer.dealerId">
                                                <option  >Select Dealer Name</option>
                                                <option *ngFor="let dealer of allDelears" value="{{dealer.dealer_id}}">{{ dealer.dealer_name }}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Name:</label>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="name" required [(ngModel)]="sDealer.sdealerName">
                                            <font class="errortext" color="red" *ngIf="!dealerData.form.controls.name?.valid && dealerData.form.controls.name?.touched">Please Enter Your Name</font>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="email" required [(ngModel)]="sDealer.sdealerEmail">
                                            <input class="form-control" type="hidden" name="type" value="sdealer" required ngModel>
                                            <font class="errortext" color="red" *ngIf="!dealerData.form.controls.email?.valid && dealerData.form.controls.email?.touched">Please Enter Your Email</font>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" value="Add S-Dealer" />

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>


                    </div>

                </div>
            </div>
        </div>
