<div class="wrapper ">
    <!-- <app-header></app-header> -->
    <app-acl></app-acl>
    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent" style="border:0;">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <div class="navbar-minimize">

                    </div>
                    <div class="navbar-toggle">
                        <button type="button" class="navbar-toggler">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </button>
                    </div>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                    <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>

            </div>
        </nav>
        <!-- End Navbar -->

        <div class="content shadow">
            <div class="row">
                <div class="col-md-8 m-auto d-block">
                    <div class="back-button col-md-2 col-md-offset-9" style="padding-bottom: 11px">
                        <a routerLink="/dealer" class="">
                            <button class="btn btn-success">Back</button></a>
                    </div>
                        <form name="myForm" class="form-horizontal" action="/dealer" id="formData" #dealerData="ngForm" (ngSubmit)="addDealer(dealerData.value)" ngNativeValidate>
                        <div class="card ">
                            <div class="card-header text-center">
                                <h4 class="card-title">ADD New Dealer</h4>
                                <hr>
                            </div>
                            <div class="card-body ">
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Name:</label>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="dealerName" ngModel>
                                            <font class="errortext" color="red" *ngIf="!dealerData.form.controls.dealerName?.valid && dealerData.form.controls.dealerName?.touched">Please Enter Your Name</font>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label">Email</label>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input type="email" class="form-control" name="dealerEmail" required ngModel>
                                            <font class="errortext" color="red" *ngIf="!dealerData.form.controls.dealerEmail?.valid && dealerData.form.controls.dealerEmail?.touched">Please Enter Your Email</font>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label class="col-sm-3 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" value="Add Dealer" />
                                        </div>
                                    </div>
                                </div>

                                <!-- end row -->
                            </div>
                        </div>

                        </form>
                </div>
            </div>
        </div>
    </div>
</div>