.list_d_down {
    font-size: 25px;
    position: relative;
    left: 25px;
    bottom: 57px;
    z-index: 100;
}

.action_group .ant-table {
    color: #545454;
    position: relative;
    bottom: 56px;
}

.applist_menu .ant-checkbox-wrapper {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.side_action .ant-btn>span {
    margin-left: 8px;
    font-size: 12px;
}

.applist_menu .ant-checkbox-wrapper:first-child {
    margin-top: 0;
}

.list_d_down .ant-popover-inner-content {
    box-shadow: 0px 6px 25px #dedede
}

.clr_red {
    color: #FE4E51 !important;
}

.clr_orange {
    color: #FF861C !important;
}

.clr_green {
    color: green !important;
}

.make_red {
    color: red;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.captilize {
    text-transform: capitalize;
}

.side_action .ant-btn {
    border-radius: 8px !important;
}

.gx-customizer-option .ant-btn {
    display: none;
}

.first_head {
    margin-top: 35px;
}

.first_head h5 {
    margin-top: 8px;
}

.sec_set_table img {
    height: 30px;
}

.first_head img {
    height: 30px;
    float: right;
}

.sec_head {
    margin: 4px 8px 6px;
    border-top: 1px solid #e8e8e8;
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
}

.sec_head .ant-switch {
    vertical-align: sub;
}

.sec_head span {
    margin-right: 4px;
}

.sec_head .ant-col-8 {
    text-align: center;
    padding: 0;
}

.sec_set_table {
    margin: 56px auto 0;
}

.sec_set_table .ant-table-body {
    margin-left: 1px;
    margin-right: 8px;
    width: 100%;
}

.sec_set_table .ant-table-scroll {
    width: 295px;
    margin: 0 auto;
}

.sec_set_table .ant-table-thead>tr>th {
    font-size: 13px !important;
    text-align: center !important;
    padding: 12px 8px !important;
    width: 100% !important;
}

.sec_set_table .ant-table-tbody>tr>td {
    font-size: 13px !important;
    text-align: center !important;
    padding: 4px 20px !important;
    width: 100% !important;
}