<div class="sidebar" data-color="brown" data-active-color="danger">
    <div class="logo">
        <a class="simple-text logo-normal" align="center">
      Dealer Dashboard
    </a>
    </div>
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="assets/img/faces/ayo-ogunseinde-2.jpg" />
            </div>
            <div class="info">
                <a data-toggle="collapse" routerLink="#collapseExample" class="collapsed">
                    <span>
            {{profile.dealer_name}}
           
          </span>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
        <ul id="menu" class="lefttNav">
            <li class="xyz ">
                <a routerLink="/dealer/devices" routerLinkActive="active">
                    <i class="nc-icon nc-mobile" style="font-size: 12px;"></i>
                    <p>DEVICES</p>
                </a>
            </li>
            <li class="xyz">
                <a routerLinkActive="active">
                    <i class="nc-icon nc-badge" style="font-size: 12px;"></i>
                    <p> Account </p>
                </a>
            </li>
            <li class="xyz">
                <a routerLink="/dealer/s-dealer" class="submenu" routerLinkActive="active">
                    <!-- <span class="sidebar-mini-icon">SD</span> -->
                    <i class="fa fa-users" style="font-size: 12px;"></i>
                    <span class="sidebar-normal"><p>S-Dealer</p></span>
                </a>
            </li>
            <li class="xyz">
                <a routerLinkActive="active" class="submenu">
                    <!-- <span class="sidebar-mini-icon">C</span> -->
                    <i class="fa fa-users" style="font-size: 12px;"></i>
                    <span class="sidebar-normal"><p>Client</p></span>
                </a>
            </li>

            <!-- </div> -->
            <li class="xyz">
                <a routerLink="/profile" routerLinkActive="active">
                    <i class="fa fa-user" style="font-size: 12px;"></i>
                    <p>My Profile</p>
                </a>
            </li>
            <li class="xyz">
                <a routerLinkActive="active">
                    <i class="nc-icon nc-settings" style="font-size: 12px;"></i>
                    <p>Settings</p>
                </a>
            </li>

        </ul>
    </div>
</div>