/* view-apk.component.css */
.form-group input[type=file] {
    opacity: 100 !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 67px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 100 !important;
}
.card-header {
    background: #fff;
    margin-bottom: 15px;
    padding: 10px 15px 10px 0;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, .15);
}
.card {
     border-radius: 0;
}
.card-title {
    font-weight: 500;
    color: #000;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}
.btn-success{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    text-transform: capitalize;
}
.card .card-body {
    padding: 0;
    box-shadow: 0 0px 11px -1px rgba(0, 0, 0, .15);
}

.main-panel>.content {
    padding: 0;
    margin: 15px 15px 0 0;
}

.table>thead>tr>th {
    padding: 8px 10px 7px;
    vertical-align: middle;
    text-align: center !important;
    font-size: 10px;
    border: 1px solid #eae6e6;
}
.table>tbody>tr>td {
    padding: 4px 4px;
    font-size: 12px;
}
.navbar.navbar-absolute {
    position: absolute;
    width: 34%;
    padding-top: 10px;
    z-index: 1029;
    left: 6px;
}
.navbar.navbar-transparent {
    background-color: transparent!important;
    box-shadow: none;
    border-bottom: 0px solid #ddd;
}