.form-group input[type=file] {
    opacity: 100 !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 67px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 100 !important;
}

.col-md-12 {
   padding-left: 2px;
}
.card {
     border-radius: 2px;
}

.card-title {

    font-weight: 500;
}
.table>tbody>tr>td  {padding: 5px 47px;}
