 <!-- navbar -->
<div class="wrap-all-nav">
    <!--nav satu-->
    <nav class="navbar navbar-default">
            <div class="col-xs-6 col-sm-2 col-md-1">
                <a class="navbar-brand" href="#" style="color:black!important;">
                    <!-- <img src="/assets/images/bg.jpg" class="img-responsive" style="height: 70px; width: 70px;"> -->
                    Your Logo
                </a>
            </div>
            <div class="col-sm-6 col-md-4 no-padding nd-xs">
                <span class="badge badge-default pull-right custom-badge" >LockMesh_v1.03</span>

            </div>

            <div class="col-sm-6 col-md-6 hidden-xs no-padding">

                <div class="input-group stylish-input-group pull-right">

                    <div class="wcontrol" style="position: relative;">
                      <input type="text" class="form-control top-search" style="border: 1px solid #ccc; border-radius: 5px;" placeholder="SEARCH" (input)="searchFilter($event)">
                      <span _ngcontent-c2="" class="fa fa-search" style="width: unset;position: absolute;right: 5px;top: 0;bottom: 0;display: flex;align-items: center;color: #66615b;font-size: 11px;"></span>
                    </div>
                    <div class="btn-group xnds" style="margin-left: 0px;">
                      <button *ngIf="router.url === '/devices'" class="btn btn-outline-default rounded-circle btn-lg notify_button" data-toggle="modal" data-target="#newrequestmodel" style="padding: 0; width: 40px; height: 40px; margin:0 0 0 10px;"><i class="fa fa-bell-o"></i>
                        <div class="notification" *ngIf="newRequest > 0">{{newRequest}}</div>
                      </button>
                      <button  class="btn btn-primary rounded-circle btn-lg nav-small-button logout" (click)="onLogout()" style="background: #4e0d6f;color: #ffa500;padding: 0; width: 40px; height: 40px; margin: 0 0 0 10px;"><i class="fa fa-power-off"></i></button>
                    </div>

                </div>
            </div>

    </nav>

    <!--end nav dua-->
</div>
    <!-- end navbar -->


<div class="sidebar" data-color="purple" data-active-color="orange" style="">
    <!--<div class="logo">-->
        <!--<a class="simple-text logo-normal" align="center">-->
            <!--Admin Dashboard-->
        <!--</a>-->
    <!--</div>-->
    <div class="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="assets/img/faces/ayo-ogunseinde-2.jpg" />
            </div>
            <div class="info">
                <a data-toggle="collapse" routerLink="#collapseExample" class="collapsed">
                    <span class="view" style="font-size: 12px;">
                        {{profile.dealer_name}}
                    </span>
                </a>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseExample">

                </div>
            </div>
        </div>
        <ul id="menu" class="lefttNav">
            <li class="xyz">
                <a routerLink="/devices" routerLinkActive="active">
                    <i class="nc-icon nc-mobile" style="font-size: 12px;"></i>
                    <p>DEVICES</p>
                </a>
            </li>
            <li class="xyz">
                <a routerLinkActive="active">
                    <i class="nc-icon nc-badge" style="font-size: 12px;"></i>
                    <p> Account </p>
                </a>
            </li>
            <li class="xyz" *ngIf="isAdmin==true">
                <a routerLink="/dealer" routerLinkActive="active" class="submenu">

                    <i class="fa fa-users" style="font-size: 12px;"></i>
                    <span class="sidebar-normal"><p>Dealers</p></span>
                </a>
            </li>
            <li class="xyz" *ngIf="(userType=='admin' || userType=='dealer')">
                <a routerLink="/sdealer" routerLinkActive="active" class="submenu">
                    <i class="fa fa-users" style="font-size: 12px;"></i>
                    <span class="sidebar-normal"><p>S-Dealer</p></span>
                </a>
            </li>
            <!-- <li class="xyz">
                <a routerLinkActive="active" class="submenu">
                    <i class="fa fa-users" style="font-size: 12px;"></i>
                    <span class="sidebar-normal"><p>Client</p></span>
                </a>
            </li> -->
            <!-- <li class="xyz">
                <a routerLinkActive="active" routerLink="/profiles-list/profile" class="submenu">
                    <i class="fa fa-tasks" style="font-size: 12px;"></i>
                    <span class="sidebar-normal">
                        <p>Profiles</p>
                    </span>
                </a>
            </li>
            <li class="xyz">
                <a routerLinkActive="active" routerLink="/profiles-list/policy" class="submenu">
                    <i class="fa fa-tasks" style="font-size: 12px;"></i>
                    <span class="sidebar-normal">
                        <p>Policy</p>
                    </span>
                </a>
            </li> -->
            <li class="xyz">
                <a routerLink="/profile" routerLinkActive="active">
                    <i class="fa fa-user" style="font-size: 12px;"></i>
                    <p>My Profile</p>
                </a>
            </li>
            <li class="xyz" *ngIf="isAdmin==true">
                <a routerLinkActive="active" routerLink="/view-apk">
                    <i class="nc-icon nc-settings" style="font-size: 12px;"></i>
                    <p>App</p>
                </a>
            </li>
            <!-- <li class="xyz">
                <a routerLinkActive="active">
                    <i class="nc-icon nc-settings" style="font-size: 12px;"></i>
                    <p>Settings</p>
                </a>
            </li> -->
        </ul>
    </div>
</div>
